* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: $fontSizeBase;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Palatino', 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  min-width: 1024px;
  line-height: 1;

  *, *:before, *:after {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

*::selection {
  color: $colorWhite;
  background: $colorPeachBG !important;
}

img[src=""] {
  display: none;
}

img {
  max-width: 100%;
}

a {
  color: $colorBlack;
  text-decoration: none;
  @include transition();

  &:hover {
    opacity: .6;
  }
}

strong, b {
  font-weight: bold;
}

button {
  border: 0 none;
}

h1, h2 {
  font-weight: 400;
  letter-spacing: .06rem;
}

h1 {
  font-size: rem(31px);
  line-height: rem(45px);
  margin-bottom: rem(32px);
  text-align: center;
}

h2 {
  font-size: rem(24px);
  line-height: rem(32px);
  margin-bottom: rem(24px);
}

.wrapper {
  flex: 1 0 auto;
}

@include below(1600px) {
  html {
    font-size: $fontSizeBase1600;
  }
}

@include below(1440px) {
  html {
    font-size: $fontSizeBase1440;
  }
}

@include below(1336px) {
  html {
    font-size: $fontSizeBase1336;
  }
}

@include below(1200px) {
  html {
    font-size: $fontSizeBase1200;
  }
}

@include below(1050px) {
  html {
    font-size: $fontSizeBase1050;
  }
}