@font-face {
  font-family: 'Palatino';
  src: url('../fonts/PalatinoLinotype-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PalatinoLinotype-Roman.woff') format('woff'), 
       url('../fonts/PalatinoLinotype-Roman.ttf') format('truetype'), 
       url('../fonts/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matildascript';
  src: url('../fonts/Matildascript.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Matildascript.woff') format('woff'), 
       url('../fonts/Matildascript.ttf') format('truetype'), 
       url('../fonts/Matildascript.svg#PalatinoLinotype-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
