$maxColValue: 12;
$marginOffset: 30px;

.container {
    // max-width: $containerWidth;
    max-width: rem($containerWidth);
    width: 100%;
    padding-left: rem(30px);
    padding-right: rem(30px);
    margin: 0 auto;

    &--slim {
        width: rem(1282px);
    }
  
    &--noPadding {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    &--full {
        max-width: 100% !important;
    }

    &--center {
        text-align: center;
    }

    &--flex {
        flex-grow: 1;
        display: flex;
    }

    &--flexCenter {
        justify-content: center;
        align-items: center;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    &--verticalCenter {
        align-items: center;
    }
}

.col {
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: rem($marginOffset);

    &:last-child {
        margin-right: 0 !important;
    }

    @include cols($maxColValue, $marginOffset);

    .row--smallOffset & {
        $marginOffset: 20px;
        margin-right: rem($marginOffset);
        @include cols($maxColValue, $marginOffset);
    }

    @each $order in -1, 0, 1, 2, 3 {
        &Order--#{$order} {
            order: $order;
        }
    }
}

// для порядка задаем на адаптиве новые значения для "col"
@include below(desktop) {
    .container {
        max-width: 100% !important;
    }
    $marginOffset: 20px;
    .col {
        margin-right: rem($marginOffset);
        @include cols($maxColValue, $marginOffset);
    }
}

@include below(tablet) {
    $marginOffset: 20px;
    .col {
        margin-right: rem($marginOffset);
        @include cols($maxColValue, $marginOffset);
    }
}

@include below(vtablet) {
    $marginOffset: 20px;
    .col {
        margin-right: rem($marginOffset);
        @include cols($maxColValue, $marginOffset);
    }
}

@include below(mobile) {
    $marginOffset: 15px;
    .col {
        margin-right: rem($marginOffset);
        @include cols($maxColValue, $marginOffset);
    }
}

// затем, чтоб не перебивало стили, делаем своейства для адаптивных колонок. все из-за пиксельного значение $marginOffset
@include below(desktop) {
    $marginOffset: 20px;
    .colDesktop{
        @include cols($maxColValue, $marginOffset);

        .row--smallOffset & {
            @include cols($maxColValue, $marginOffset);
        }
    }
}

@include below(tablet) {
    $marginOffset: 20px;
    .colTablet {
        @include cols($maxColValue, $marginOffset);

        .row--smallOffset & {
            @include cols($maxColValue, $marginOffset);
        }
    }
}

@include below(vtablet) {
    $marginOffset: 20px;
    .colVertTablet {
        @include cols($maxColValue, $marginOffset);

        .row--smallOffset & {
            @include cols($maxColValue, $marginOffset);
        }
    }

    @each $order in -1, 0, 1, 2, 3 {
        .colOrderVertTablet--#{$order} {
            order: $order;
        }
    }
}

@include below(mobile) {
    $marginOffset: 15px;
    .colMobile {
        @include cols($maxColValue, $marginOffset);

        .row--smallOffset & {
            @include cols($maxColValue, $marginOffset);
        }
    }

    @each $order in -1, 0, 1, 2, 3 {
        .colOrderMobile--#{$order} {
            order: $order;
        }
    }
}

@include below(tablet) {
    .container {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}
