/* отступы и поля элементов, в классе указывается сокращенноt свойство (p = padding, m = margin) и в модификаторе числовое значение, кратное 5.
Например: `h-pt--5` = `padding-top: 5px;`*/
@each $s, $side in (t, top),
                   (r, right),
                   (b, bottom),
                   (l, left) {
  @for $i from -5 through 20 {
    $i: $i * 5;
    .h-p#{$s}--#{$i}{
      padding-#{$side}: rem($i);
    }
    .h-m#{$s}--#{$i}{
      margin-#{$side}: rem($i);
    }
  }
}

// исключения
.h-mb---100 {
  margin-bottom: rem(-100px);
}

.h-mt---150 {
  margin-top: rem(-150px);
}

// бордеры
@each $s, $side in (t, top),
                   (r, right),
                   (b, bottom),
                   (l, left) {
  @for $i from 0 through 4 {
    .h-b#{$s}--#{$i}{
      border-#{$side}: $i + px solid $colorBlack; // черный цвет по умолчанию
    }
  }
}

// размер текста
@each $fz in 14, 16, 18, 20, 22, 30, 38, 50 {
  .h-fz--#{$fz} {
    font-size: rem($fz);
  }
}

@each $lh in 16, 18, 20, 22, 30, 32, 34, 44 {
  .h-lh--#{$lh} {
    line-height: rem($lh);
  }
}

.h-font--italianno {
  @include italianno();

}

.h-font--palatino {
  @include palatino();
}

@each $fw in 300, 700 {
  .h-fw--#{$fw} {
    font-weight: $fw
  }
}

@each $display in block inline inline-block none {
  .h-display--#{$display} {
    display: $display;
  }
}

@each $align in left center right {
  .h-align--#{$align} {
    text-align: $align;
  }
}

@each $pos in relative absolute {
  .h-pos--#{$pos} {
    position: $pos;
  }
}

[class*=h-flex] {
  display: flex;
}

.h-flex {
  &--flexColumn {
    flex-direction: column;
  }

  &--justifyBetween {
    justify-content: space-between;
  }

  &--justifyCenter {
    justify-content: center;
  }

  &--justifyAround {
    justify-content: space-around;
  }

  &--justifyStart {
    justify-content: flex-start;
  }

  &--justifyEnd {
    justify-content: flex-end;
  }

  &--alignStart {
    align-items: flex-start;
  }

  &--alignCenter {
    align-items: center;
  }
}

.h-fg--1 {
  flex-grow: 1;
}

.h-mt--auto {
  margin-top: auto;
}

.h-margin--auto {
  margin-left: auto;
  margin-right: auto;
}

.h-color {
  &--gray {
    color: $colorGrey;
  }
  &--grayDark {
    color: $colorDarkGray;
  }
  &--fuchsia {
    color: $colorFuchsia
  }
  &--peach {
    color: $colorPeachBG;
  }
}

.h-borderColor {
  &--gray {
    border-color: $colorGrey;
  }
}

.h-pull--right {
  float: right;
}

.h-clearfix {
  @extend %clearfix;
}

.h-width--full {
  width: 100%;
}

.h-text {
  &--uppercase {
    text-transform: uppercase;
  }
}