// Placeholders
%clearfix {
  zoom:1;

  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

%before {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
  }
}

%after {
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    z-index: 3;
  }
}

%vertAlign {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

@mixin italianno() {
  font-family: 'Italianno', cursive;

  #{$cyrillicLang} & {
    font-family: 'Matildascript', cursive;
  }
}

@mixin palatino() {
  font-family: 'Palatino', 'Times New Roman', serif;
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

// example: margin: rem(35px auto 2px 18px)
@function rem($px) {
  $fontSizeBase: parseInt($fontSizeBase);
  $i: '';
  @each $p in $px {
    @if $p != 'auto' {
      $p: (parseInt($p)/$fontSizeBase) + rem;
    }
    $i: '#{$i} #{$p}';
  }
  @return str_slice(unquote($i), 2);
}


@mixin transition($property: all, $duration: .25s, $delay: 0s) {
  transition: $property $duration ease $delay;
}

// функции и миксины для grid
@function nthChildAdder($item) {
  @return "&:nth-child(" + $item + ")";
}

@function nthChildNamer($array) {
  $x: "";
  @each $i in $array {
    @if $x != "" {
        $x: append($x, "," + nthChildAdder($i));
    }
    @else{
        $x: append($x, nthChildAdder($i));
    }
  }
  @return $x;
}

// для определенной сетки нужно в стилях задать после какого элмента будет перенос. пример  @include nthCol("4n")
@mixin nthCol($array) {
    #{nthChildNamer($array)} {
        margin-right: 0;
    }
}

@function calcCol($n, $m) {
  @return ($n / $m) * 100%;
}

@function calcMargin($o, $n, $m) {
  @return $o - ($o * $n / $m);
}

@mixin cols($maxNum, $offset) {
  @for $num from 1 to $maxNum + 1 {
    &--#{$num} {
      max-width: calc(#{calcCol($num, $maxColValue)} - #{rem((calcMargin($offset, $num, $maxColValue)))});
      flex-basis: calc(#{calcCol($num, $maxColValue)} - #{rem((calcMargin($offset, $num, $maxColValue)))});
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &--#{$maxNum} {
    margin-right: 0 !important;
  }
}

$rupture: map-merge($rupture, (
  scale: 0 400px 800px 801px 1050px 1440px 1441px,
  scale-names: 'mobile' 'vtablet' 'fromTablet' 'tablet' 'desktop' 'hd'
));
