.text {

  &--strong {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  & h2, &--h2 {
    letter-spacing: 0.1rem;
    font-size: rem(64px);
    margin-bottom: rem(60px);
    text-align: center;
    @include italianno();
  }

  & h3, &--h3 {
    letter-spacing: 0.12rem;
    font-size: rem(24px);
    margin-bottom: rem(55px);
    text-align: center;
  }

  &--lines {
    @extend %after;
    @extend %before;
    padding-left: rem(140px);
    padding-right: rem(140px);

    &:after, &:before {
      top: rem(12px);
      height: rem(2px);
      width: rem(97px);
      background-color: $colorBlack;
    }

    &:after {
      left: 0;
    }

    &:before {
      right: 0;
    }
  }

  &--underline {
    text-decoration: underline;

    a#{&}:hover {
      text-decoration: none;
    }
  }

  &--content {
    & p {
      font-size: rem(18px);
      line-height: rem(24px);
      margin-bottom: rem(15px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  
    & h2 {
      font-size: rem(24px);
      line-height: rem(34px);
      margin-bottom: rem(25px);
      text-align: left;
      @include palatino();
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
