// font
$fontSizeBase: 18px;
$fontSizeBase1600: 16px;
$fontSizeBase1440: 15px;
$fontSizeBase1336: 13px;
$fontSizeBase1200: 12px;
$fontSizeBase1050: 11px;

// size
$containerWidth: 1530px;

// colors
$colorWhite: #fff;
$colorBlack: #000000;
$colorDark: #252121;
$colorDarkLight: #2d272c;
$colorPink: #feabd8;
$colorGreyLight: #ffe6ef;
$colorPinkLight: #f9d6e3;
$colorPinkDark: #fea7d6;
$colorPeachBG: #f5c0ca;
$colorPeachText: #ffc3dc;
$colorFlea: #7b5f61;
$colorAmaranth: #e8c5c8;
$colorGray: #eeeeee;
$colorGrey: #c8c8c8;
$colorDarkGray: #686868;
$colorMagenta: #ef8ec2;
$colorPureMagenta: #ff00ff;
$colorGreyDark: #7f7f7f;
$colorFuchsia: #fc86b6;
$colorBlue: #2a8ce6;
$colorLightBlue: #58bbf4;
$colorRed: #ea3939;
$colorGreen: #50a11a;
$colorSligtlyPink: #ffeff2;
$colorSligtlyPeach: #fbe8ed;
$colorButtonShadow: #eb98a8;
$colorBrownPink: #d2abb3;
$colorPurple: #da84be;

// z-index
$zMinus: -1;
$zDropdown: 10;

//lang
$cyrillicLang: '[lang="ru-RU"]'