$topMargin: 100px;

.advantages {
  text-align: center;
  background-image: url(../imgs/advantages/mramor.jpg);
  background-size: cover;
  margin-top: rem(-25px);
  padding-top: rem(65px);
  padding-bottom: rem(250px);
  @extend %before;
  @include italianno();

  &::before {
    background: linear-gradient(to bottom, #fff 0%, rgba(#fff, 0) 100%);
    width: 100%;
    height: $topMargin;
    left: 0;
    top: 0;
  }

  &__title {
    font-size: rem(64px);
    line-height: rem(54px);
    margin-bottom: rem(20px);
    letter-spacing: 0.1rem;
    position: relative;
    z-index: $zDropdown + 1;
  }

  &__subTitle {
    font-size: rem(15px);
    line-height: rem(36px);
    margin-bottom: rem(40px);
    letter-spacing: 0.1rem;
    @include palatino();
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__itemImg {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: rem(20px);
  }

  &__itemName {
    font-size: rem(20px);
    line-height: rem(26px);
    flex-basis: rem(96px);
    @include palatino();
  }
}