.basketList {
  &__header {
    font-weight: 700;
    margin-bottom: rem(20px);
  }
  &__shadow {
    @extend %before;
    @extend %after;

    &:before {
      width: 100%;
      height: rem(20px);
      top: rem(2px);
      background-image: linear-gradient(to bottom, #fff, rgba(#fff, 0))
    }
    &:after {
      width: 100%;
      height: rem(20px);
      top: auto;
      bottom: rem(2px);
      background-image: linear-gradient(to top, #fff, rgba(#fff, 0))
    }
  }

  &__inner {
    padding-top: rem(15px);
    padding-bottom: rem(15px);
    padding-right: rem(15px);
    border-top: 2px solid $colorMagenta;
    border-bottom: 2px solid $colorMagenta;
    max-height: rem(400px);
    margin-bottom: rem(20px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  &__total {
    font-weight: 700;
    float: right;
  }

  &__totalPrice {
    border: 1px solid $colorMagenta;
    padding: rem(11px 12px 9px);
    display: inline-block;
    margin-left: rem(10px);
  }
}

@include below(desktop) {
  .basketList {

    &__inner {
      max-height: rem(330px);
    }
  }
}