.basketItem {

  &__rating {
    unicode-bidi: bidi-override;
    color: #feb500;
    font-size: rem(17px);
    position: relative;
    display: inline-block;
    margin-bottom: rem(25px);
    line-height: rem(24px);
  }
  
  &__ratingTop {
    color: #feb500;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__ratingBottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

  &__ratingTop, &__ratingBottom {
    letter-spacing: rem(3px);
  }

  &__title {
    font-size: rem(28px);
    letter-spacing: 0.06rem;
    font-weight: 700;
    margin-bottom: rem(12px);
  }

  &__reviews {
    color: $colorGrey;
    text-decoration: underline;
    font-size: rem(14px);
    margin-left: rem(45px);
    margin-bottom: rem(25px);
    margin-right: rem(40px);

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  &__delete {
    display: inline-block;
    width: rem(24px);
    height: rem(24px);
    background-image: url(../imgs/icons/delete.png);
    background-size: cover;
    @include transition();
    cursor: pointer;
    vertical-align: middle;

    &:hover, &:focus {
      opacity: .5;
    }
  }

  &__sellBock {
    border-bottom: 1px solid $colorGray;
    padding-bottom: rem(23px);
    margin-bottom: rem(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-size: rem(20px);
    letter-spacing: .06rem;
  }

  &__priceOld {
    font-size: rem(16px);
    letter-spacing: .06rem;
    color: $colorGrey;
    text-decoration: line-through;
  }

  &__sale {
    font-size: rem(16px);
    letter-spacing: .06rem;
    color: $colorWhite;
    background-color: $colorDark;
    box-shadow: 0px rem(3px 5px 0px) rgba(0, 0, 0, 0.24);
    padding: rem(8px 10px 7px);
  }

  &__counter.inputCounter {
    background: transparent;
    border: 1px solid $colorGray;
    height: rem(50px);
    align-items: baseline;

    .inputCounter__input {
      padding-left: rem(8px);
      padding-right: rem(8px);
    }

    .inputCounter__minus, .inputCounter__plus {
      color: $colorGrey;
      background: none;
      transform: none;
      width: auto;
      height: auto;
      @include transition();

      &:hover {
        opacity: .75;
      }
    }

    .inputCounter__minus {
      &:after {
        content: "–"
      }
    }
    
    .inputCounter__plus {
      &:after {
        content: "+"
      }
    }
  }

  &__favorite, &__save {
    background-repeat: no-repeat;
    background-size: rem(19px);
    padding-left: rem(30px);
    margin-bottom: rem(28px);
    font-weight: 700;
    display: inline-block;
    background-size: auto 100%;
  }

  &__favorite {
    background-image: url(../imgs/icons/like.png);
    margin-right: rem(45px);
  }

  &__save {
    background-image: url(../imgs/icons/shopping-bag--inbox.png);
  }

  &__textarea {
    border: 1px solid $colorGray;
    padding: rem(15px 13px);
    width: 100%;
    margin-bottom: rem(25px);
  }


  &__image {
    float: left;
    width: rem(360px);
    margin-right: 22.2%;
  }

  &__previewList {
    display: flex;
    flex-direction: column;
  }

  &__preview {
    margin-bottom: rem(4px);
    @extend %after;
    cursor: pointer;
    @include transition();
    width: rem(98px);

    &:hover {
      transform: scale(1.1);
    }

    &:after {
      @include transition();
      transform: scale(0);
      background-image: url(../imgs/icons/mazok.png);
      width: rem(138px);
      height: rem(64px);
      background-size: cover;
      background-repeat: no-repeat;
      left: rem(-18px);
      @extend %vertAlign;
    }

    &--active:after {
      transform: scale(1);
    }
  }

  &__previewImg {
    width: 100%;
  }

  &__galleryLink {
    margin-top: rem(16px);
    color: $colorLightBlue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &--simple {
    margin-bottom: rem(10px);
    margin-right: rem(5px);
    align-items: center;
    font-size: rem(18px);
    
    .basketItem__image {
      max-width: rem(100px);
      margin-right: rem(30px);
    }

    .basketItem__title {
      font-size: rem(22px);
      margin-bottom: 0;
    }

    .basketItem__priceCol {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      text-align: right;
    }

    .basketItem__priceByOne {
      text-align: center;
    }

    .basketItem__price {
      font-size: rem(20px);
      font-weight: 700;
    }

    .basketItem__counter {
      height: rem(40px);
    }

    .basketItem__color {
      width: rem(22px);
      height: rem(22px);
      border-radius: 100%;
    }

    .basketItem__delete {
      float: right;
    }
  }

  &__status {
    &--true {
      color: $colorGreen;

    }

    &--false {
      color: $colorRed;
    }
  }
}