.breadcrumbs {
  letter-spacing: 0.12rem;
  font-size: rem(24px);

  &__item {
    display: inline-block;
    color: $colorGrey;
    margin-right: rem(7px);

    &--active {
      color: $colorBlack;

      & ~ & {
        color: $colorGrey;
      }
    }

    &:before {
      content: " / ";
    }

    &:first-child::before {
      content: none;
    }
  }

  &--small {
    font-size: rem(18px);
    letter-spacing: 0.06rem;

    .breadcrumbs__item {
      margin-right: rem(3px);
    }
  }
}
