.button {
  background-color: $colorPeachBG;
  border: none;
  border-radius: rem(40px);
  font-size: rem(18px);
  padding: rem(22px 30px);
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid $colorButtonShadow;
  box-shadow: rem(0px 4px 5px 0px) $colorButtonShadow;
  position: relative;
  cursor: pointer;
  @include transition(all);
  letter-spacing: 0.1rem;
  margin: rem(0 5px);
  pointer-events: all;
  @include palatino();
  
  &:hover, &:focus {
    background-color: lighten($colorButtonShadow, 14%);
    opacity: 1;
  }

  &--transparent {
    color: $colorPeachText;
    background-color: transparent;
    border: 2px solid$colorPeachText;
    box-shadow: rem(0px 5px 5px 0px) rgba(255, 195, 220, 0.75) inset, rem(0px 5px 5px 0px) rgba(255, 195, 220, 0.75);

    &:hover, &:focus {
      background-color: transparent;
      box-shadow: rem(0px 8px 8px 0px) rgba(255, 195, 220, 0.75) inset, rem(0px 8px 8px 0px) rgba(255, 195, 220, 0.75);
    }
  }
  
  &--dark {
    background-color: transparent;
    border: 2px solid $colorDark;
    box-shadow: rem(0px 5px 5px 0px) rgba(0, 0, 0, 0.28) inset, rem(0px 5px 5px 0px) rgba(0, 0, 0, 0.28);
    color: $colorDark;

    &:hover, &:focus {
      background-color: transparent;
      box-shadow: rem(0px 8px 8px 0px) rgba(0, 0, 0, 0.28) inset, rem(0px 8px 8px 0px) rgba(0, 0, 0, 0.28);
    }
  }

  &--xs {
    font-size: rem(17px);
    padding-top: rem(14px);
    padding-bottom: rem(14px);
  }

  &--xxs {
    font-size: rem(15px);
    padding-top: rem(12px);
    padding-bottom: rem(12px);
  }

  &--white {
    background-color: $colorWhite;
  }

  &--whiteColor {
    color: $colorWhite;
  }

  &--wideMinor {
    padding-right: rem(40px);
    padding-left: rem(40px);
  }

  &--wide {
    padding-right: rem(60px);
    padding-left: rem(60px);
  }
  
  &--wider {
    padding-right: rem(115px);
    padding-left: rem(115px);
  }

  &--full {
    width: 100%;
    margin: 0;
  }

  &--disabled {
    color: rgba($colorBlack, .34);
    background: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  &--icon {
    @extend %before;
    width: 0;
    color: transparent !important;
    padding-left: rem(33px);
    padding-right: rem(33px);
    text-indent: -9999px;
    
    &:before {
      background-size: cover;
      left: 0;
      right: 0;
      margin: auto;
    }

    &.button--xs {
      padding-left: rem(25px);
      padding-right: rem(25px);
    }
  }
  @each $position in (before, after) {
    $pseudoPosition: "";
    @if $position == "after" {
      $pseudoPosition: "-after"
    }
    &--iconText#{$pseudoPosition} {
      @if $position == "after" {

        &::before {
          content: none;
        }
      }

      &:#{$position} {
        content: '';
        display: inline-block;
        background-size: cover;
        position: relative;
        top: rem(4px);

        @if $position == "after" {
          margin-left: rem(5px);
        } @else {
          margin-right: rem(5px);
        }
      }

      &.button--xs {
        padding-top: rem(12px);
        padding-bottom: rem(12px);
      }
    }

    &--icon, &--iconText#{$pseudoPosition} {
      &:#{$position} {
        width: rem(19px);
        height: rem(19px);
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &-like:#{$position} {
        background-image: url(../imgs/icons/like.png);
      }
      &-likeWhite:#{$position} {
        background-image: url(../imgs/icons/like--white.png);
      }
      &-box:#{$position} {
        background-image: url(../imgs/icons/shopping-bag.png);
      }
      &-refresh:#{$position} {
        background-image: url(../imgs/icons/reload.png);
      }
      &-back:#{$position} {
        background-image: url(../imgs/icons/down-arrow.png);
        transform: rotate(90deg);
      }
      &-next:#{$position} {
        background-image: url(../imgs/icons/down-arrow.png);
        transform: rotate(-90deg);
      }
    }
  }
}