.calendar {
    position: relative;
    width: 100%;

    &__title {
        font-size: rem(18px);
        line-height: rem(45px);
        font-weight: bold;
        padding-left: rem(40px);
        padding-right: rem(50px);
        position: relative;
 
        &::before {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorGray;
            top: calc(50% - (#{rem(5px)}/2));
            left: rem(10px);
        }
 
        &::after {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorGray;
            top: calc(50% - (#{rem(5px)}/2));
            right: 10px;
        }
    }

    &__container {
        position: relative;
        top: rem(-38px);
        z-index: 3;
    }

    &__datepicker {
        display: none;
    }

    &__input {
        display: block;
        border-radius: rem(25px);
        border: 1px solid $colorGreyDark;
        font-size: rem(14px);
        padding: rem(10px 25px);
        color: $colorGreyDark;
    }
}

.calendar-theme {

    &:not(.calendar-theme--input) {
        & .pika-prev,
        & .pika-next,
        & thead {
            display: none;
        }
    }

    &.pika-single {
        border: none;
        background-color: transparent;
    } 

    & .pika-button {
        width: rem(45px);
        height: rem(45px);
        border: 1px solid $colorGray;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition();
    }

    & .is-selected .pika-button,
    & .is-today .pika-button {
        color: $colorWhite;
        border: none;
        border-radius: 0;
    }

    & .is-today .pika-button {
        background-color: rgba($colorPinkDark, .65);
        box-shadow: rem(0px 2px 5px 2px) rgba(253,183,221,.65);
    }

    & .is-selected .pika-button {
        background-color: $colorPinkDark;
        box-shadow: rem(0px 2px 5px 2px) rgba(253,183,221,1);
    }

    & .pika-button:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colorPinkDark;
        color: $colorWhite;
        border: 1px solid $colorPinkDark;
        box-shadow: rem(0px 2px 5px 2px) rgba(253,183,221,1);
        border-radius: 0;
    }

    & .pika-title {
        display: flex;
        justify-content: flex-end;
        font-size: rem(16px);
        line-height: rem(33px);
        font-weight: 400;
        margin-bottom: rem(15px);
    }

    & .pika-lendar {
        width: auto;
        margin: 0;
    }

    &--input {
        .pika-title {
            display: block;
            padding-top: rem(8px);
        }

        & .pika-lendar {
            background-color: #fff;
        }
    }
}