.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(-20px);

    &__container {
        margin: rem(10px 0 10px 30px);
        position: relative;

        &--doubleImg .cards__wrapper {

            &:hover, &:focus {
                opacity: 1;
                
                .cards__img-wrapper {
                    transform: rotateY(-180deg);
                }
            }
        }
    }

    &__wrapper {
        margin-right: 0 !important;
        padding: rem(15px);
        border: 1px solid $colorGrey;
        padding-bottom: rem(75px);
        z-index: 1;
        display: block;
    }

    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(250px);
        position: relative;
        transform-style: preserve-3d;
        transition: all 1s ease;
        transform-style: preserve-3d;
    }

    &__img, &__secondImg {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $colorWhite;
        display: block;
        backface-visibility: hidden;
    }

    &__secondImg {
        transform: rotateY(-180deg);
    }

    &__price {
        &-count {
            font-weight: bold;
            font-size: rem(20px);
            line-height: rem(24px);
            margin-right: rem(5px);
        }

        &-currency {
            font-size: rem(16px);
            line-height: rem(24px);
        }
    }

    &__title {
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: bold;
        margin-bottom: rem(10px);
        margin-top: rem(20px);
    }

    &__discount {
        position: absolute;
        top: rem(15px);
        right: rem(15px);
        background-color: $colorBlack;
        padding: rem(0 7px);
        box-shadow: rem(0px 2px 7px 1px) rgba(151,146,150,1);
        z-index: $zDropdown;
        
        &-value {
            color: $colorWhite;
            font-size: rem(16px);
            line-height: rem(24px);
            font-weight: bold;
        }
    }

    &__footer {
        pointer-events: none;
        position: absolute;
        bottom: rem(20px);
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
