.cloudsBlock {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../imgs/cloudsBlock/pinkBG.jpg);
  height: calc(100vw * 0.448);
  margin-top: rem(160px);
  @extend %after;
  display: flex;

  &:after {
    background-image: url(../imgs/cloudsBlock/clouds.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__header {
    position: absolute;
    left: rem(80px);
    top: rem(-40px);
    z-index: $zDropdown + 3;
  }

  &__step {
    position: absolute;
    z-index: $zDropdown + 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--1 {
      bottom: 7.55%;
      left: 13.8%;
    }

    &--2 {
      bottom: 34.8%;
      left: 24.1%;
    }

    &--3 {
      bottom: 51%;
      left: 40.5%;
    }

    &--4 {
      bottom: 54.1%;
      left: 55.3%;
    }

    &--5 {
      bottom: 28.5%;
      left: 74.4%;
      z-index: $zMinus;
    }

    &--noNumber {
      .cloudsBlock__stepImg {
        padding-left: 0;
      }

      .cloudsBlock__stepNumber {
        display: none;
        max-width: rem(320px);
      }

      .cloudsBlock__stepText {
        max-width: rem(320px);
      }
    }
  }

  &__stepImg {
    margin: rem(0 auto 15px);
    padding-left: rem(50px)ß;
  }

  &__stepContent {
    display: flex;
    text-align: center;
  }

  &__stepNumber {
    color: $colorWhite;
    @extend %after;
    white-space: nowrap;
    font-style: italic;

    &:after {
      top: rem(-2px);
      right: rem(-9px);
      width: rem(26px);
      height: rem(26px);
      background-color: #ff98c3;
      border-radius: 50%;
      box-shadow: rem(0px 0px 6px 2px) #ff98c3;
      z-index: $zMinus;
    }
  }

  &__stepText {
    max-width: rem(235px);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    align-items: center;
    margin-bottom: rem(90px);
    position: relative;
    z-index: $zDropdown + 2;
  }
}

@include below(desktop) {
  .cloudsBlock {
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

    &__step {
      position: static;

      &--5 {
        position: absolute;
        bottom: rem(65px);

      }
    }

    &__buttons {
      margin-left: 40%;
      margin-right: 40%;
    }
  }
}