.color {
    &__item {
        width: 100%;
        padding: rem(8px 50px 8px 40px);
        font-size: rem(16px);
        line-height: rem(33px);
    }
 
    &__title {
        font-size: rem(18px);
        line-height: rem(45px);
        font-weight: bold;
        padding-left: rem(40px);
        padding-right: rem(50px);
        position: relative;
    }

    &__itemCheckbox {
        &[type="checkbox"]:not(:checked),
        &[type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }

        &[type="checkbox"]:not(:checked) + label,
        &[type="checkbox"]:checked + label {
            position: relative;
            left: 0;
            cursor: pointer;
            z-index: 1;
            display: inline-block;
            @include transition();
            padding-right: rem(35px);
            width: 100%;
        }

        &[type="checkbox"]:not(:checked) + label:before,
        &[type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            right: 0;
            width: rem(22px);
            top: rem(5px);
            height: rem(22px);
            border-radius: 100%;
            background-color: var(--color);
            border: 2px solid $colorGrey;
        }

        &[type="checkbox"]:not(:checked) + label:after,
        &[type="checkbox"]:checked + label:after {
            content: '';
            position: absolute;
            background-image: url(../imgs/icons/mazok.png);
            width: rem(45px);
            height: rem(18px);
            background-size: cover;
            top: rem(10px);
            right: rem(-15px);
            transform: translateZ(-1px);
            opacity: 0;
            @include transition()
        }

        &[type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0.8);
        }

        &[type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }

        &[type="checkbox"]:disabled:checked + label:after,
        &[type="checkbox"]:disabled + label {
            opacity: .6;
            cursor: not-allowed;
        }

        &[type="checkbox"]:hover + label, &[type="checkbox"]:focus + label {
            opacity: .6;
        }
    }
 }