.companySlider {
  position: relative;
  background-color: $colorWhite;
  border-top: 1px solid $colorGray;
  border-bottom: 1px solid $colorGray;
  padding: rem(50px 80px);
  overflow: hidden;

  .slick-track {
    height: rem(145px);
  }

  .slick-slide > div {
    height: 100%;
  }

  &__slide {
    padding: rem(0 35px);
    height: 100%;
    display: flex !important;
    align-items: center;

    @supports ( filter: grayscale(0) ) {
      &:hover {
        opacity: 1;
        .companySlider__img {
          filter: grayscale(0);
        }
      }
    }
  }

  &__img {
    margin: auto;
    filter: grayscale(100%);
    @include transition();
  }

  &__arrow {
    height: rem(24px);
    width: rem(14px);
    background: transparent;
    border: none;
    position: absolute;
    top: 48.5%;
    top: calc(50% - (#{rem(24px)}/2));
    @include transition();
    z-index: 1;
    border-radius: 100%;
    background-image: url(../imgs/companySlider/sliderArrow.png);
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    @extend %after;
    @extend %before;
    z-index: $zDropdown;

    &::after, &::before {
      background-color: rgba($colorPeachText, .17);
      border-radius: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &::after {
      width: 0;
      height: 0;
      @include transition(all, 350ms);
    }

    &::before {
      width: 0;
      height: 0;
      @include transition(all, 250ms);
    }

    &:hover {
      &:before {
        width: rem(108px);
        height: rem(108px);
      }
      &::after {
        width: rem(64px);
        height: rem(64px);
      }
    }

    &--prev {
      left: rem(40px);

      &:focus {
        margin-left: rem(-10px);
      }
    }

    &--next {
      transform: rotate(180deg);
      right: rem(40px);

      &:focus {
        margin-right: rem(-10px);
      }
    }
  }
}