.content {
    margin-top: rem(30px);
    margin-bottom: rem(40px);
    
    &__text {
        margin-left: auto;
        margin-right: auto;
        margin-top: rem(70px);
        margin-bottom: rem(90px);
        max-width: rem(1120px);
    }

    &__bottom {
        margin-top: rem(45px);
        margin-bottom: rem(50px);
        font-size: rem(16px);
        line-height: rem(33px);
    }

    &__link {
        color: $colorBlue;
        border-bottom: 1px solid $colorBlue;
    }

    &__button {
        margin-left: auto;
        margin-right: auto;
    }
}