.contactInfo {
  &__title {
    font-size: rem(30px);
    letter-spacing: 0.16rem;
    text-align: center;
    margin-bottom: rem(18px);
    text-transform: uppercase;
    font-weight: 700;
  }
  
  &__subTitle {
    font-size: rem(16px);
    letter-spacing: 0.16rem;
    text-align: center;
  }

  &__header {
    min-height: rem(763px);
    background-image: url(../imgs/contacts/contacts__background.jpg);
    background-size: cover;
    background-position: 50% 100%;
  }

  &__headerTitle {
    margin-top: rem(150px);
    margin-bottom: rem(45px);
    font-size: rem(40px);
    letter-spacing: 0.08rem;
    font-weight: 700;
  }

  &__headerSubTitle {
    font-size: rem(20px);
    letter-spacing: 0.08rem;
  }

  &__form {
    background-image: url(../imgs/contacts/contactsForm__background.jpg);
    background-size: cover;
    width: rem(520px);
    background-color: $colorWhite;
    box-shadow: rem(3.106px 11.591px 16px 0px) rgba($colorPeachBG, .6);
    border-radius: rem(50px);
    margin-top: rem(70px);
    padding: rem(50px 35px 0 35px);
    text-align: center;
    margin-bottom: rem(50px);
  }

  &__formTitle {
    font-size: rem(30px);
    letter-spacing: 0.16rem;
    margin-bottom: rem(10px);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__pinkLetter {
    color: $colorPeachBG;
    display: inline;

    &--beautiful {
      @extend %before;

      &:before {
        background-image: url(../imgs/contacts/beautiful.png);
        background-size: cover;
        width: rem(33px);
        height: rem(38px);
        top: rem(-29px);
        left: rem(-7px);
      }
    }
  }

  &__formSubTitle {
    font-size: rem(16px);
    letter-spacing: 0.16rem;
    margin-bottom: rem(20px);
  }
  
  &__formInput, &__formTextarea {
    display: block;
    font-size: rem(16px);
    letter-spacing: 0.16rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $colorGray;
    padding: rem(21px 50px 20px);
    width: 100%;
    max-width: 100%;
  }

  &__formTextarea {
    background-color: $colorWhite;
    box-shadow: inset rem(0px 3px 7px 0px) rgba($colorBlack, .17);
    margin-top: rem(35px);
    margin-bottom: rem(60px);
    height: rem(188px);
    border-radius: rem(15px);
  }

  &__infoBlock {
    text-align: center;
    @extend %before;
    padding-top: rem(165px);
    flex-basis: (100%/3);

    &:before {
      width: rem(140px);
      height: rem(140px);
      background-color: $colorPeachBG;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 100%;
      top: 0;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: rem(50px);
    }

    &--link {
      padding-top: rem(145px);
      flex-basis: (100%/5);
      @extend %after;

      &:before, &:after {
        width: rem(130px);
        height: rem(130px);
        @include transition();
        background-color: $colorGrey;
      }

      &:after {
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 100%;
        top: 0;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: rem(50px);
        opacity: 0;
      }

      &:hover {
        opacity: 1;

        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
          background-color: $colorPeachBG;
        }
      }
      .contactInfo__infoTitle {
        font-size: rem(18px);
        letter-spacing: 0.06rem;
        text-transform: uppercase; 
        font-weight: 700;
        margin-bottom: rem(12px);
      }

      .contactInfo__infoSubTitle {
        font-size: rem(16px);
        letter-spacing: 0.06rem;
      }
    }

    &--location:before {
      background-image: url(../imgs/icons/location--clear.png);
    }
    &--whatsapp:before {
      background-image: url(../imgs/icons/phone--speach.png);
    }
    &--mail:before {
      background-image: url(../imgs/icons/mail--clear.png);
    }

    &--mail.contactInfo__infoBlock--link:before {
      background-image: url(../imgs/icons/mail--white.png);
    }
    &--phone:before {
      background-image: url(../imgs/icons/phone--white.png);
    }
    &--instagram:before {
      background-image: url(../imgs/icons/instagram--white.png);
    }
    &--facebook:before {
      background-image: url(../imgs/icons/facebook--white.png);
    }
    &--skype:before {
      background-image: url(../imgs/icons/skype--white.png);
    }

    &--mail.contactInfo__infoBlock--link:after {
      background-image: url(../imgs/footer/mail.png);
    }
    &--phone:after {
      background-image: url(../imgs/footer/smartphone.png);
    }
    &--instagram:after {
      background-image: url(../imgs/footer/instagram.png);
    }
    &--facebook:after {
      background-image: url(../imgs/footer/facebook.png);
    }
    &--skype:after {
      background-image: url(../imgs/footer/skype.png);
    }
  }

  &__infoTitle {
    font-size: rem(26px);
    letter-spacing: 0.1rem;
    margin-bottom: rem(25px);
  }

  &__infoSubTitle {
    font-size: rem(16px);
    letter-spacing: 0.1rem;
    margin-bottom: rem(12px);
  }

  &__infoText {
    font-size: rem(31px);
    letter-spacing: 0.1rem;
    color: $colorPeachBG;

    & * {
      color: $colorPeachBG;
    }
  }

  &__mapWrapper {
    height: rem(745px);
    @extend %before;
    @extend %after;

    &:after, &:before {
      height: rem(83px);
      background-image: url(../imgs/contacts/contacts__clouds.png);
      width: 100%;
      background-size: 100% auto;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }

    &:before {
      transform: rotate(180deg);
      top: 0;
    }

    &:after {
      bottom: 0;
    }
 
  }

  &__map {
    height: 100%;
    width: 100%;
  }
}