.contactBlock {
  background-image: url(../imgs/contactBlock/contactBG.jpg);
  padding: rem(175px 0 180px);

  &__paragraph {
    font-size: rem(22px);
    line-height: rem(36px);
    margin-bottom: rem(16px);
    letter-spacing: 0.02rem;
    margin-left: rem(40px);

    &:last-child {
      margin-bottom: 0;
    }

    &--bordered {
      padding-bottom: rem(15px);
      border-bottom: 1px solid #eac3ce;
    }

    &--icon {
      @extend %after;

      &:after {
        width: rem(38px);
        height: rem(38px);
        left: rem(-48px);
        background-size: contain;
        margin-top: rem(-3px);
      }

      @each $name in location, phone, mail {
        &-#{$name}:after {
          background-image: url(../imgs/icons/#{$name}.png);
        }
      }

      // &-location:after {
        // background-image: url(../imgs/icons/location.jpg);
      // }
    }
  }
}