 .createAcc {
     margin-right: rem(50px);
     padding: rem(35px);
     max-width: rem(530px);
     border-radius: rem(25px);
     box-shadow: rem(0px 1px 24px 5px) rgba(245,192,202,0.33);

     &__title {
        font-size: rem(16px);
        margin-bottom: rem(50px);
     }

     &__button {
         width: 100%;
         margin-bottom: rem(20px);
     }

     &__description {
         text-align: center;
         font-size: rem(14px);
         line-height: rem(30px);
         color: $colorDarkGray;
         margin-bottom: rem(40px);

         &:last-child {
             margin-bottom: 0;
         }
     }
 }