.create {
    &__description {
        font-size: rem(16px);
        max-width: 700px;
        text-align: center;
        margin-bottom: rem(70px);
        margin-left: auto;
        margin-right: auto;
    }

    &__row {
        display: flex;
        justify-content: center;
    }
}