.dropdown {
  position: relative;
  display: inline-block;
  margin-right: rem(10px);

  &__toggler {
    color: inherit;
    display: block;
    @extend %after;
    padding-right: rem(17px);

    &:after {
      width: rem(10px);
      height: rem(5px);
      background-image: url(../imgs/dropdown/dropdownArrow.png);
      background-size: cover;
      right: 0;
      @extend %vertAlign;
    }
  }

  &__menu {
    list-style: none;
    display: none;
    position: absolute;
    left: rem(-4px);
    padding: 0;
    margin-top: rem(5px);
    text-align: left;
    width: rem(150px);
    border: 1px solid $colorGray;
    background-color: $colorWhite;
    z-index: $zDropdown;
  }

  &__menuItem {
    display: block;
    padding: rem(8px 12px);

    &:hover {
      opacity: 1;
      background-color: $colorPeachBG;
    }
  }

  &--dark &__toggler:after {
    background-image: url(../imgs/dropdown/dropdownArrow--black.png);
  }

  &--block {
    margin-right: 0;
    .dropdown__toggler {
      display: block;
    }
  }

  &--select {
    appearance: none;
    background-image: url(../imgs/dropdown/dropdownArrow.png);
    background-size: rem(10px 5px);
    background-repeat: no-repeat;
    background-position: calc(100% - #{rem(30px)}) 50%;
  }
}
