.events {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: rem(8px 50px 8px 40px);
        font-size: rem(16px);
        line-height: rem(33px);
 
        &-count {
            color: $colorGreyDark;
        }
 
        &_active {
         background-color: $colorPeachBG;
         color: #fff;
         border-radius: rem(20px);
         box-shadow: rem(0px 3px 5px 0px) rgba(248,202,213,1);
 
         .section__item-count {
             color: #fff;
         }
        }
    }
 
    &__title {
        font-size: rem(18px);
        line-height: rem(45px);
        font-weight: bold;
        padding-left: rem(40px);
        padding-right: rem(50px);
        position: relative;
 
        &::before {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorGray;
            top: calc(50% - (#{rem(5px)}/2));
            left: rem(10px);
        }
 
        &::after {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorGray;
            top: calc(50% - (#{rem(5px)}/2));
            right: rem(10px);
        }
    }
 }