.faq {
    &__header {
        background-image: url(../../imgs/footer/footer_background.jpg);
        position: relative;
        text-align: center;
        height: rem(150px);
        display: flex;
        flex-direction: column;
        align-items: auto;
        justify-content: center;
        
        &::before {
            content: '';
            position: absolute;
            top: rem(27px);
            left: 0;
            display: block;
            width: rem(178px);
            height: rem(156px);
            background-image: url(../../imgs/faq/scooter-1.png);
        }

        &::after {
            content: '';
            position: absolute;
            top: rem(27px);
            right: 0;
            display: block;
            width: rem(178px);
            height: rem(156px);
            background-image: url(../../imgs/faq/scooter-2.png);
        }
    }

    &__item {
        padding-top: rem(25px);
        padding-bottom: rem(25px);

        &:nth-child(odd) {
            background-color: $colorSligtlyPink;
        }
    }

    &__slider {
        margin-bottom: rem(90px);
        margin-top: rem(65px);
    }

    &__question {
        margin-bottom: rem(50px);
        font-size: rem(28px);
        line-height: rem(36px);
    }

    &__answer {
        font-size: rem(18px);
        line-height: rem(36px);
    }

    &__link {
        font-size: rem(18px);
        text-decoration: underline;
        color: $colorBlue;
        margin-top: rem(50px);
        margin-bottom: rem(70px);
    }

    &__row {
        display: flex;
        justify-content: center;
    }
}