.footer {
  background-color: $colorPeachBG;
  padding-top: rem(210px);
  background-image: url(../imgs/footer/footer_background.jpg);
  background-size: cover;

  &__topMenu {
    list-style: none;
    margin-bottom: rem(40px);
  }

  &__topMenuItem {
    display: inline-block;
    margin-right: 5%;
    margin-bottom: rem(20px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__topMenuLink {
    color: $colorFlea;
    text-transform: uppercase;
  }

  &__bottomMenu { 
    list-style: none;
    display: inline-block;
    padding-left: rem(30px);
    margin-right: 4%;
    border-left: 1px solid $colorAmaranth;
    vertical-align: top;
    margin-bottom: rem(80px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottomMenuItem {
    margin-bottom: rem(25px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottomMenuLink {
    font-size: rem(22px);
    text-transform: uppercase;
  }

  &__social {
    display: inline-block;
  }

  &__socialItem {
    width: rem(26px);
    height: rem(26px);
    background-size: cover;
    display: block;
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }

    @each $img in (facebook instagram email whatsapp twitter) {
      &--#{$img} {
        background-image: url(../imgs/footer/#{$img}.png);
      }
    }
  }

  &__copyright {
    text-align: center;
    color: $colorFlea;
    font-size: rem(16px);
    margin-bottom: rem(45px);
  }
}