.formBlock {
    padding: rem(35px);
    max-width: rem(530px);
    border-radius: rem(25px);
    box-shadow: rem(0px 1px 24px 5px) rgba(245,192,202,0.33);

    &--login {
        margin-left: rem(50px);
    }

    &--registration {
        margin-left: auto;
        margin-right: auto;
        max-width: rem(830px);
    }

    &--shiping, &--payment {
        max-width: rem(830px);

        .formBlock__group {
            margin-bottom: rem(15px);
        }
    }

    &--address {
        max-width: rem(830px);
        margin-left: rem(60px);
        display: flex;
        flex-direction: column;
    }

    &--cabinet {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: rem(55px);
    }

    &--finish {
        max-width: 100%;
    }

    &__title {
        font-size: rem(16px);
        position: relative;
        margin-bottom: rem(50px);

        &::before {
            content: '';
            position: absolute;
            left: rem(70px);
            display: block;
            width: rem(18px);
            height: rem(18px);
            background-image: url(../../imgs/icons/exit.png);
            background-size: cover;
        }
    }

    &__fieldset {
        border: none;
        border-bottom: 1px solid $colorGrey;
        padding-bottom: rem(25px);
        margin-bottom: rem(25px);
        max-width: 100%;
        display: block;

        &:last-child {
            border: none;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    &__legend {
        margin-bottom: rem(20px);
        font-size: rem(20px);
    }

    &__group {
        position: relative;
        margin-bottom: rem(25px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .formBlock__input {
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.has-error {
            .formBlock__input {
                margin-bottom: rem(10px);
                border-color: $colorRed;
            }
        }
    }

    &__error {
        color: $colorRed;
    }

    &__label {
        align-self: center;
        margin-right: rem(15px);
        margin-bottom: rem(10px);
        display: inline-block;

        & + .formBlock__input {
            width: 100%
        }
    }

    &__input {
        @include palatino();
        width: 100%;
        max-width: 100%;
        display: block;
        border-radius: rem(25px);
        border: 1px solid $colorGreyDark;
        font-size: rem(14px);
        padding: rem(20px 35px);
        color: $colorGreyDark;
        margin-bottom: rem(25px);

        & + .formBlock__label {
            position: absolute;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            height: 0;
            width: auto;
        }
    }

    &__label {
        @include transition();
    }

    &__row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $colorGrey;
        padding-bottom: rem(15px);
        margin-bottom: rem(50px);
    }

    &__social {
        width: rem(51px);   
        height: rem(51px);
        border-radius: 50%;
        background-color: transparent;
        background-size: cover;
    
        &-facebook {
            background-image: url(../../imgs/icons/facebook-logo.png);
        }

        &-instagramm {
            background-image: url(../../imgs/icons/instagram-logo.png);
            margin-right: rem(30px);
        }
    }

    &__enter {
        font-size: rem(18px);
        margin-right: rem(45px);
    }


    &__word {
        margin-right: rem(30px);
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__reminder {
        text-align: right;
        font-size: rem(16px);
        color: $colorRed;
        text-decoration: underline;
        margin-bottom: rem(30px); 
    }
}


// копипаст с бутстрапа
table {
    background-color: transparent;
}

th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid $colorGrey;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $colorGrey;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid $colorGrey;
}
.table .table {
    background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}
.table-bordered {
    border: 1px solid $colorGrey;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid $colorGrey;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
