.header {
  &__top {
    background-color: $colorPeachBG;
    text-align: right;
    padding: rem(10px 0 14px);
  }

  &__logoImg {
    width: rem(249px);
    height: auto;
  }

  &__topLink {
    margin-right: rem(35px);
    font-size: rem(17px);

    &--favorite, &--cart {
      @extend %after;
      @extend %vertAlign;
      padding-right: rem(35px);

      &:after {
        background-size: cover;
        @extend %vertAlign;
        right: 0;
      }
    }

    &--favorite:after {
      width: rem(23px);
      height: rem(23px);
      background-image: url(../imgs/icons/heart.png);
    }

    &--cart {
      @extend %before;
      margin-right: rem(10px);

      &:before {
        font-size: rem(12px);
        content: attr(data-count);
        border-radius: 50%;
        background-color: $colorPink;
        box-shadow: rem(0px 1px 5px 0px) rgba(0, 0, 0, 0.25);
        width: rem(15px);
        height: rem(15px);
        right: rem(-10px);
        bottom: rem(-5px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
      }

      &:after {
        width: rem(26px);
        height: rem(26px);
        background-image: url(../imgs/icons/shopping-bag.png);
      }
    }
  }

  &__search {
    background-image: url(../imgs/icons/search.png);
    padding-bottom: rem(8px);
    padding-left: rem(35px);
    padding-top: rem(5px);
    background-repeat: no-repeat;
    background-size: rem(18px 18px);
    border: none;
    border-bottom: 1px solid $colorGray;
    font-size: rem(16px);
    width: rem(140px);
    @include transition(all);

    &:focus {
      width: 100%;
    }
  }

  &__menu {
    text-align: center;
    list-style: none;
  }

  &__menuItem {
    display: inline-block;
    font-size: rem(21px);
    white-space: nowrap;
    padding: rem(0 25px);
    margin-bottom: rem(15px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menuLink {
    border-bottom: 0px solid $colorPeachText;
    padding-bottom: rem(3px);

    &:hover {
      border-bottom-width: 2px;
      opacity: 1;
      padding-bottom: rem(8px);
      color: $colorPeachText;
    }

    &--active {
      border-bottom-width: 2px;
    }
  }

  &__dropdown {
    border-bottom: 1px solid $colorGray;
    font-size: rem(16px);
    padding: rem(10px);
    margin-right: rem(30px);
  }

  &__itemFlag {
    @extend %after;
    // padding-right: 33px;
    display: inline;

    &:after {
      // background-image: url(../imgs/header/flag.png);
      background-size: cover;
      // width: 23px;
      height: rem(16px);
      right: 0;
      @extend %vertAlign;
    }
  }

  &__social {
    float: right;
  }

  &__socialItem {
    width: rem(30px);
    height: rem(30px);
    background-size: cover;
    display: block;
    margin-bottom: rem(16px);
    margin-left: rem(65px);

    &:last-child {
      margin-bottom: 0;
    }

    &--instagram {
      background-image: url(../imgs/icons/instagram--pink.png);
    }

    &--facebook {
      background-image: url(../imgs/icons/facebook.png);
    }
  }
}
