.inputCounter {
  width: rem(100px);
  height: rem(40px);
  border-radius: rem(40px);
  background-color: $colorGray;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: rem(0 10px);
  
  &__minus, &__plus {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-image: url(../imgs/icons/defaultArrow.png);
    background-size: cover;
    width: rem(10px);
    height: rem(11px);
  }

  &__minus {
    transform: rotate(90deg);
  }

  &__plus {
    transform: rotate(-90deg);
  }

  &__input {
    border: none;
    background: none;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    width: rem(50px);
    font-size: rem(16px);
  }
}