.input {
  display: inline-block;

  &__radio {
    position: absolute;
    left: -9999px;

    & + label {
        padding-left: rem(30px);
        margin-right: rem(20px);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @extend %before;
        @extend %after;
        &:before {
            width: rem(19px);
            height: rem(19px);
            border: rem(2px) solid $colorDarkGray;
            border-radius: 50%; 
            display: block;
            top: rem(-3px);
            left: 0;
        }

        &:after {
          width: rem(11px);
          height: rem(11px);
          background-color: $colorGreyDark;
          top: rem(1px);
          left: rem(4px);
          @include transition();
          transform: scale(0);
          border-radius: 50%; 
        }

        a {
          font-weight: 700;
        }
    }

    &:checked + label:after {
      transform: scale(1);
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px;

    & + label {
        padding-left: rem(30px);
        margin-right: rem(20px);
        position: relative;
        display: inline-block;
        vertical-align: middle;

        &:before {
            content: "";
            width: rem(19px);
            height: rem(19px);
            position: absolute;
            border: rem(2px) solid $colorDarkGray;
            border-radius: 50%; 
            display: block;
            left: 0;
            top: rem(-3px);
        }

        a {
          font-weight: 700;
        }
    }

    &:checked + label:before {
        background-image: url(../../imgs/icons/check.png);
        background-size: cover;
        border: none;
    }
  }
}