.instagram {

  &__button {
    @extend %after;
    @extend %before;

    &:after {
      background-image: url(../imgs/instagram/butterfly.png);
      width: rem(61px);
      height: rem(62px);
      top: rem(-30px);
      right: rem(-17px);
      background-size: cover;
    }

    &::before {
      background-image: url(../imgs/instagram/dots.png);
      width: rem(52px);
      height: rem(48px);
      bottom: rem(-65px);
      right: rem(-9px);
      background-size: cover;
    }
  }

  &__inner {
    text-align: center;
    @extend %after;
    padding-top: rem(75px);
    overflow: hidden;

    &:after {
      background-image: url(../imgs/instagram/manyFly.png);
      background-size: cover;
      width: rem(294px);
      height: rem(444px);
      right: 0;
      top: rem(5px);
      z-index: $zMinus;
    }
  }

  &__title {
    @extend %after;
    display: inline-block;
    margin-bottom: rem(20px);

    &:after {
      background-image: url(../imgs/icons/mazok.png);
      width: rem(145px);
      height: rem(67px);
      background-size: cover;
      left: rem(-14px);
      @extend %vertAlign;
      z-index: $zMinus;
    }
  }

  &__table {
    display: block;
    margin: auto;
  }
}