.itemsSlider {
  position: relative;

  &__slide {
    padding: rem(0 15px);
  }

  &__img {
    border: 1px solid $colorGray;
    border-radius: rem(25px);
    height: rem(230px);
    width: rem(230px);
    margin: auto;
  }

  &__arrow {
    position: absolute;
    background: none;
    background-color: $colorGray;
    border: none;
    @include transition();
    @extend %after;
    width: rem(49px);
    height: rem(49px);
    border-radius: 100%;
    @extend %vertAlign; 

    &:hover, &:focus {
      background-color: $colorPeachBG;
      box-shadow: rem(0px 10px 22px 2px) $colorPeachBG;
    }

    &:after {
      width: rem(26px);
      height: rem(26px);
      background-image: url(../imgs/icons/defaultArrow.png);
      background-size: cover;
      margin: auto;
      @extend %vertAlign;
    }

    &--prev {
      left: rem(-80px);
      &:after {
        left: rem(-4px);
        right: 0;
        transform: rotate(180deg);
      }
    }

    &--next {
      right: rem(-80px);

      &:after {
        left: 0;
        right: rem(-4px);
      }
    }
  }
}

@include below(1640px) {
  .itemsSlider {
    &__arrow {
      &--prev {
        left: rem(-60px);
      }

      &--next {
        right: rem(-60px);
      }
    }
  }
}

@include below(1590px) {
  .itemsSlider {
    padding: rem(0 60px);

    &__arrow {
      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }
}