.legoNav {
  margin-bottom: rem(45px);

  &__list {
    list-style: none;
    display: flex;
  }

  &__step {
    padding-top: rem(10px);
    margin-right: rem(10px);
    @extend %before;
    @extend %after;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      width: rem(13px);
      height: rem(13px);
      border: rem(3px) solid $colorPeachBG;
      top: rem(-10px);
      border-radius: 100%;
    }
    &:after {
      height: rem(3px);
      background-color: $colorPeachBG;
      right: 0;
      width: 100%;
      width: calc(100% - #{rem(21px)});
      top: rem(-4px);
    }
  }

  &__stepText {
    font-size: rem(16px);
    line-height: rem(40px);
    letter-spacing: 0.1rem;
    display: inline-block;

    .legoNav__step--active & {
      @extend %before;
      @extend %after;

      &:after {
        background-image: url(../imgs/icons/mazok.png);
        width: rem(48px);
        height: rem(22px);
        left: rem(-10px);
        @extend %vertAlign;
        top: rem(-4px);
        background-size: cover;
        z-index: -1;
      }

      &:before {
        background-image: url(../imgs/icons/check--clear.png);
        width: rem(18px);
        height: rem(18px);
        background-size: cover;
        @extend %vertAlign;
        top: rem(-8px);
        right: rem(-24px);
      }
    }
  }

  &__stepTitle {
    font-size: rem(24px);
    line-height: rem(30px);
    letter-spacing: 0.1rem;
    display: inline-block;
    padding-right: rem(30px);
  }
}