.lego {

  &--step2 {
    border: 1px solid rgba($colorPureMagenta, .15);
    border-radius: rem(20px);
  }

  &--step3 {
    margin-bottom: rem(80px);
  }

  &--step4 {
    .lego__boxCol {
      border: none;
      padding-top: 0;
      margin-top: rem(30px);
    }
  }

  &__boxColor {
    @include nthCol("2n");
    border-radius: rem(10px);
    @include transition();
    margin-bottom: rem(20px);
    border: 2px solid transparent;
    cursor: pointer;

    &:hover, &--active {
      box-shadow: rem(0px 5px 5px 0px) rgba($colorPinkDark, 0.38);
    }

    &:hover, &:focus {
      outline: none;
      border-color: $colorPinkDark;
    }
  }
  &__boxImage {
    margin: 0 auto;
    display: block;
  }

  &__toBoxesLink {
    margin: rem(20px 15px 0);
    display: inline-block;
    text-decoration: underline;
    @extend %after;
    font-size: rem(16px);
    letter-spacing: 0.1rem;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    &:after {
      background-image: url(../imgs/icons/inbox.png);
      width: rem(18px);
      height: rem(18px);
      right: rem(-32px);
      background-size: cover;
    }
  }

  &__slider {
    margin: rem(15px 20px);
    position: relative;

    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  &__slide {
    @extend %before;

    &:before {
      width: 1px;
      height: rem(170px);
      background-color: $colorGray;
      @extend %vertAlign;
      left: rem(-1px);
    }
  }

  &__slideImg {
    margin: rem(40px auto);
  }

  &__sliderArrow {
    height: rem(30px);
    width: rem(16px);
    background: transparent;
    border: none;
    position: absolute;
    top: 48.5%;
    top: calc(50% - (#{rem(24px)}/2));
    @include transition();
    z-index: 1;
    background-image: url(../imgs/icons/right-arrow.png);
    background-size: cover;
    cursor: pointer;
    @extend %after;
    @extend %before;
    z-index: $zDropdown;

    &::after, &::before {
      background-color: rgba($colorPeachText, .17);
      border-radius: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &::after {
      width: 0;
      height: 0;
      @include transition(all, 350ms);
    }

    &::before {
      width: 0;
      height: 0;
      @include transition(all, 250ms);
    }

    &--prev {
      left: rem(20px);
      transform: rotate(180deg);

      &:focus {
        margin-left: rem(-10px);
      }
    }

    &--next {
      right: rem(20px);

      &:focus {
        margin-right: rem(-10px);
      }
    }
  }

  &__slideCount {
    @extend %before;
    padding: rem(4px 18px 0 0);
    float: right;

    &:before {
      background-image: url(../imgs/icons/mazok.png);
      width: rem(48px);
      height: rem(22px);
      left: rem(-10px);
      @extend %vertAlign;
      top: rem(7px);
      background-size: cover;
      z-index: -1;
    }
  }

  &__box {
    border: 1px solid rgba($colorPureMagenta, .15);
    border-radius: rem(20px);
    padding: rem(10px 0 10px 25px);
    font-size: rem(16);
  }

  &__boxCol {
    margin: rem(12px 0);
    padding-top: rem(55px);
    border-left: 1px solid $colorGray;

    &:first-child {
      border-left: none;
    }

    &--center {
      padding-top: 0;

      .lego--step2 & {
        margin-right: 0 !important;
      }
    }
  }
  
  &__dropdown {
    box-shadow: inset rem(0px 5px 6px 0px) $colorPeachBG;
    border-radius: rem(10px);
    display: block;
    max-width: rem(390px);
    font-size: rem(16px);
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: rem(35px);
    margin-right: 0;

    .dropdown__toggler {
      display: block;
      padding: rem(13px 10px);


      &:after {
        background-image: url(../imgs/dropdown/dropdownArrow--black.png);
        right: rem(13px);
      }
    }

    .dropdown__menu {
      left: 0;
      width: 100%;
      margin-top: rem(-5px);
    }
  }

  &__search {
    border-radius: rem(10px);
    box-shadow: rem(0px 4px 5px 0px) rgba(0, 0, 0, 0.2);
    padding: rem(13px 10px);
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: rem(35px);
    border: none;
    max-width: rem(390px);
    width: 100%;
    box-sizing: border-box !important;
  }

  &__boxTitle {
    text-align: center;
    margin-bottom: rem(35px);
    font-weight: 700;
  }

  &__boxItemsList {
    padding: rem(0 50px 0 30px);
    margin-bottom: rem(5px);
  }

  &__boxItem {
    margin-bottom: rem(25px);
    display: table;
    width: 100%;
  }

  &__boxItemCount {
    display: table-cell;
    width: rem(35px);
    padding-right: rem(10px);
  }

  &__boxItemTitle {
    display: table-cell;
    padding-right: rem(15px);
  }

  &__boxItemPrice {
    display: table-cell;
    text-align: right;
    width: rem(130px);
    padding-right: rem(50px);
  }

  &__boxItemDelete {
    display: table-cell;
    width: rem(16px);
    height: rem(16px);
    background-image: url(../imgs/icons/delete.png);
    background-size: cover;
    border: none;
    background-color: transparent;
    text-indent: -9999px;
    float: right;
    position: relative;
    top: rem(2px);
    @include transition();

    &:hover, &:focus {
      opacity: .65;
    }
  }

  &__boxSize {
    background-color: rgba($colorPeachBG, .35);
    padding: rem(16px 50px 18px 30px);
    @extend %after;
    display: block;

    &:after {
      background-image: url(../imgs/icons/down-arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-90deg);
      right: rem(50px);
      @extend %vertAlign;
      height: rem(25px);
      width: rem(17px);
    }
  }

  &__boxFooter {
    padding: rem(30px 20px 35px 50px);
    display: flex;
    align-items: flex-end;
  }

  &__boxTotal {
    flex-grow: 1;
  }

  &__boxAmount {
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(36px);
    display: inline-block;
  }

  &__boxAmountCurrency {
    font-size: rem(25px);
    line-height: rem(36px);
    color: $colorDarkGray;
    display: inline-block;
  }

  &__boxImg {
    margin: auto;
    display: block; 
  }

  &__postcardsList {
    display: flex;
    flex-wrap: wrap;
  }

  &__postcard {
    float: left;
    margin-right: rem(30px);
    width: 24%;
    width: calc(100%/4 - #{rem(30px)} + #{rem((30px/4))});
    cursor: pointer;
    text-align: center;
    margin-bottom: rem(30px);

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__postcardImageWrapper {
    @extend %after;
    @include transition();
    margin-bottom: rem(25px);

    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: transparent;
      @include transition();
    }

    &:hover {
      box-shadow: rem(0px 11px 27px 0px) $colorGray;

      &:after {
        background-color: rgba($colorPeachBG, .5);
      }
    }
  }
  
  &__postcardImage {
    display: block;
  }
  
  &__moreCards {
    display: block;
    margin: rem(40px auto 10px);
    background: none;
    border: none;
    @extend %after;
    padding-bottom: rem(16px);

    &:after {
      background-image: url(../imgs/icons/defaultArrow.png);
      width: rem(14px);
      height: rem(14px);
      background-size: cover;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotate(90deg);
      @include transition();
    }

    &:hover, &:focus {

      &:after {
        transform: translateY(#{rem(5px)}) rotate(90deg);
      }
    }
  }

  &__createPostcard {
    display: none;
  }

  &__createPostcardTextarea {
    box-shadow: rem(0px 11px 27px 0px) rgba($colorBlack, 0.2);
    background-color: $colorWhite;;
    border-radius: rem(25px);
    border: none;
    resize: none;
    padding: rem(35px 30px);
    height: rem(330px);
    font-size: rem(18px);
    line-height: rem(34px);
    letter-spacing: .1rem;
    position: relative;
    width: 100%;
    width: calc(100% + #{rem(90px)});
    margin-left: rem(-90px);
    margin-bottom: rem(55px);
  }

  &__createPostcardIntro {
    font-size: rem(16px);
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: rem(40px);
  }

  &__createPostcardTitle {
    font-size: rem(18px);
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: rem(16px);
    margin-top: rem(30px);
  }

  &__plusElement {
    font-size: rem(48px);
    font-weight: 700;
    display: flex;
    align-items: center;
    height: rem(270px);
  }
}