.modification {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: rem(8px 50px 8px 40px);
        font-size: rem(16px);
        line-height: rem(33px);
 
        &-count {
            color: $colorGreyDark;
        }
 
        &_active {
         background-color: $colorPeachBG;
         color: #fff;
         border-radius: rem(20px);
         box-shadow: rem(0px 3px 5px 0px) rgba(248,202,213,1);
 
         .section__item-count {
             color: #fff;
            }
        }
    }
 
    &__title {
        font-size: rem(18px);
        line-height: rem(45px);
        font-weight: bold;
        padding-left: rem(40px);
        padding-right: rem(50px);
        position: relative;
 
        &::before {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorGray;
            top: calc(50% - (#{rem(5px)}/2));
            left: rem(10px);
        }
 
        &::after {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorGray;
            top: calc(50% - (#{remm(5px)}/2));
            right: rem(10px);
        }
    }

    &__label {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__item-text {
        flex-grow: 1;
    }
 }
 .modification__checkbox {
    position: relative;
    width: rem(19px);
    height: rem(19px);
    border: 2px solid $colorDarkGray;
    border-radius: 50%; 
    display: inline-block;
    vertical-align: middle;
}

.modification__checkbox_default {
    display: none;

    &:checked + .modification__checkbox::before {
        content: "";
        display: block;
        position: absolute;
        width: rem(19px);
        height: rem(19px);
        background-image: url(../../imgs/icons/check.png);
        background-size: cover;
    }

    &:checked + .modification__checkbox {
        border: none;
    }
} 