.orders {
  &__table {
    border-collapse: collapse;
    min-width: rem(600px);
  }

  &__head {
    font-weight: 700;
    background-color: $colorGreyLight;
    border-bottom: 1px solid $colorGreyDark;

    .orders__col {
      padding: rem(16px 12px);
      font-size: rem(20px);
    }
  }

  &__row {
    border-bottom: 1px solid $colorGreyDark;
  }

  &__col {
    padding: rem(10px 12px);
    text-align: left;

    &:last-child {
      text-align: right;
    }

    &--number {
      text-decoration: underline;
    }
  }
}