.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: rem(30px);
    margin-left: rem(10px);
    margin-right: rem(40px);

    &__list {
        display: flex;
    }

    &__item {
        width: rem(45px);
        height: rem(45px);
        border: 1px solid $colorGray;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        cursor: pointer;

        &_active {
            background-color: $colorPinkDark;
            color: $colorWhite;
            border: 1px solid $colorPinkDark;
            box-shadow: rem(0px 2px 5px 2px) rgba(253,183,221,1);
            z-index: 3;
            cursor: default;
        }
    }

    &__prev {
        width: rem(45px);
        height: rem(45px);
        border: 1px solid $colorGray;
        background-image: url(../../imgs/icons/left-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__next {
        width: rem(45px);
        height: rem(45px);
        border: 1px solid $colorGray;
        background-image: url(../../imgs/icons/right-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}