$arrowSize: 75px;
$magnifierSize: 74px;

.photoSlider {
  width: 100%;
  color: $colorBlack;
  position: relative;
  @extend %before;
  @extend %after;

  &:before {
    width: 100%;
    height: 135px;
    top: 0;
    background-image: url(../imgs/photoSlider/sliderTop.png);
  }

  &:after {
    width: 100%;
    height: 131px;
    bottom: 0;
    top: auto;
    background-image: url(../imgs/photoSlider/sliderDown.png);
  }

  &__hint {
    color: $colorBlack;
    position: absolute;
    left: rem(110px);
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    @extend %after;
    @extend %before;
    z-index: 100;
    writing-mode: sideways-lr;

    &:after, &:before {
      background-color: $colorBlack;
      width: rem(2px);
      height: rem(50px);
      right: 0;
      left: 0;
      margin: auto;
    }

    &:after {
      top: rem(-65px)
    }

    &:before {
      bottom: rem(-65px);
    }
  }

  &__nav {
    position: absolute;
    right: rem(90px);
    text-align: center;
    list-style: none;
    @extend %vertAlign;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    li {
      margin-bottom: rem(80px);
      @extend %after;

      &:last-child {
        margin-bottom: 0;
        
        &:after {
          content: none;
        }
      }

      &::after {
        background-color: $colorBlack;
        width: rem(2px);
        height: rem(50px);
        @extend %vertAlign;
        margin: rem(35px auto 0);
      }
    }
  }

  &__slideControl {
    color: $colorBlack;
    display: block;
    background: transparent;
    border: none;
    margin: rem(0 10px);
    @include transition();
    font-size: rem(24px);
    letter-spacing: 0.1rem;

    &:hover {
      opacity: .5;
    }

    .slick-active & {
      color: $colorBlack;
      font-weight: 700;

      &:hover {
        cursor: default;
        opacity: 1;
      }
    }
  }

  &__arrowWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }

  &__arrow {
    height: $arrowSize;
    width: $arrowSize;
    background: transparent;
    border: none;
    position: absolute;
    top: 48.5%;
    top: calc(50% - #{rem($arrowSize)}/2);
    @include transition();
    z-index: 1;
    border-radius: 100%;
    background-color: rgba(#c0566e, .13);
    background-image: url(../imgs/photoSlider/sliderArrow.png);
    background-size: rem(60px 10px);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;

    &--prev {
      left: rem(20px);

      &:focus {
        margin-left: rem(-10px);
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    &--next {
      transform: rotate(180deg);
      right: rem(20px);

      &:focus {
        margin-right: rem(-10px);
      }

      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }
  }

  &__slide {
    font-size: rem(84px);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;;
    height: rem(1040px);
    height: calc(100vh - #{rem(270px)}); // высота хэдера
    min-height: rem(720px);
    position: relative;
    background-position: 100% 100%;
  }

  &__slideContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    max-width: 65%;
    @include italianno();
  }

  &__link {
    @extend %after;
    font-weight: 700;
    font-size: rem(16px);
    border-bottom: rem(2px) solid $colorBlack;
    padding-bottom: rem(8px);
    color: $colorBlack;
    bottom: 23%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: rem(($magnifierSize/2));
    cursor: pointer;
    z-index: $zDropdown + 1;

    &::after {
      background-color: $colorWhite;
      border-radius: 100%;
      width: rem($magnifierSize);
      height: rem($magnifierSize);
      background-image: url(../imgs/icons/magnifier--pink.png);
      background-size: rem(23px);
      background-position: 50%;
      background-repeat: no-repeat;
      @extend %vertAlign;
      left: rem((-$magnifierSize - 10px));
      @include transition();
  }

    &:hover:after{
      background-size: rem(30px);
    }
  }

  &__arrowDown {
    background-image: url(../imgs/photoSlider/downArrow.png);
    width: rem(43px);
    height: rem(24px);
    background-size: cover;
    position: absolute;
    bottom: rem(80px);
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    @include transition();
    z-index: $zDropdown + 1;

    &:hover {
      margin-top: rem(5px);
    }
  }
}
