.popular {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 0;

  &__linksBlock {
    margin-top: rem(30px);
    display: flex;
    margin-bottom: rem(35px);
    justify-content: space-evenly;
    @include italianno();
  }

  &__link {
    font-size: rem(60px);
    letter-spacing: 0.1rem;

    &--active, &:hover {
      color: $colorFuchsia;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__item {
    width: (100%/5);
    display: inline-block;
    background-size: cover;
    font-weight: 700;
    height: rem(580px);
    background-position: 50% 100%;
  }

  &__itemTitle {
    border-top: 1px solid $colorGray;
    border-bottom: 1px solid $colorGray;
    padding: rem(30px 0 25px);
    margin: rem(55px 15px 30px);
  }

  &__itemName {
    font-size: rem(16px);
    margin-bottom: rem(15px);
    text-transform: uppercase;
  }

  &__itemPrice {
    font-size: rem(20px);
  }
}