$paddingBottom: 100px;

.presentSlider {
  position: relative;

  &__slide {
    text-align: center;
  }

  &__content {
    padding-top: rem(150px);
    padding-bottom: rem($paddingBottom);
  }

  &__slideTitle {
    color: $colorPeachText;
    font-size: rem(72px);
    letter-spacing: 0.1rem;
    margin-bottom: rem(20px);
    @include italianno();
  }

  &__slideSubtitle {
    font-size: rem(14px);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: rem(50px);
  }

  &__slideText {
    font-size: rem(41px);
    letter-spacing: 0.1rem;
    margin-bottom: rem(30px);
    @include italianno();
  }

  &__slideLogo {
    background-image: url(../imgs/presentSlider/sliderLogo.jpg);
    background-size: cover;
    width: rem(199px);
    height: rem(93px);
    @extend %after;
    @extend %before;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(60px);

    &:after, &:before {
      top: rem(23px);
      height: rem(2px);
      width: rem(150px);
      background-color: $colorPeachText;
    }

    &:after {
      left: rem(-160px);
    }

    &:before {
      right: rem(-160px);
    }
  }

  &__nav {
    position: absolute;
    bottom: rem(25px);
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }

  &__navList {
    list-style: none;

    li {
      display: inline-block;
      margin: rem(0 10px);
    }
  }

  &__slideControl {
    font-size: rem(18px);
    letter-spacing: 0.1rem;
    width: rem(100px);
    background: transparent;
    border: none;
    color: $colorPeachText;
    border-top: rem(3px) solid $colorPeachText;
    padding-top: rem(13px);
    @include transition();
    font-weight: 700;
    position: relative;
    top: 0;

    &:hover, &:focus {
      opacity: .5;
    }

    li.slick-active & {
      color: $colorBlack;
      border-top-color: $colorBlack;
      top: rem(-10px);

      &:hover, &:focus {
        cursor: default;
        opacity: 1;
      }
    }
  }
}