#price,#price2 {
    box-shadow: inset rem(0px 1px 5px 2px) rgba(234,234,234,1);
	border:1px solid $colorAmaranth ;
    border-radius: rem(20px);
	display: flex;
    align-items: center;
    justify-content: center;
    padding-left: rem(35px);
    width: rem(100px);
    color: $colorGreyDark;
    font-size: rem(16px);
    line-height: rem(33px);
}


#slider_price {
	margin-top: rem(30px);
    margin-bottom: rem(30px);
    height: rem(2px);
    background-color: #f7e3e7;
    border: none;
}

.price {
    background-color: $colorGreyLight;

    &__title {
        font-size: rem(18px);
        line-height: rem(45px);
        font-weight: bold;
        padding-left: rem(40px);
        padding-right: rem(50px);
        position: relative;
        z-index: 10;
 
        &::before {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorBlack;
            top: calc(50% - (#{rem(5px)}/2));
            left: rem(10px);
        }
 
        &::after {
            content: '';
            position: absolute;
            border: rem(5px) solid transparent;
            border-top: rem(5px) solid $colorBlack;
            top: calc(50% - (#{rem(5px)}/2));
            right: rem(10px);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: rem(8px 50px 8px 40px);
        font-size: rem(16px);
        line-height: rem(33px);

        &_range {
            display: block;
        }

        &_label {
            position: relative;

            &::before {
                content: '—';
                position: absolute;
                color: #fff;
                right: rem(-35px);
                z-index: 10;
            }
        }
    }

    & .ui-slider-range {
        background-color: #fb9fb1;
    }

    & .ui-slider-handle {
        border-radius: 50%;
        background: #fff;
        box-shadow: rem(0px 3px 5px 1px) rgba(182,172,176,1);
        top: rem(-10px);
    }
}