.product {
  padding: rem(0 35px);

  &__title {
    margin-top: rem(20px);
    margin-bottom: rem(30px);
    font-size: rem(36px);
    letter-spacing: 0.12rem;
    text-align: center;
  }

  &__subTitle {
    font-weight: 700;
    font-size: rem(16px);
    letter-spacing: 0.04rem;
    text-align: center;
  }

  &__author {
    letter-spacing: 0.12rem;
    margin-bottom: rem(25px);
    text-align: center;
  }

  &__price {
    font-size: rem(30px);
    letter-spacing: 0.12rem;
    font-weight: 700;
    text-align: center;
  }

  &__currency {
    display: inline-block;
    font-size: rem(16px);
    font-weight: 300;
    text-align: center;
  }

  &__subBlock {
    border-top: 1px solid $colorGray;
    padding-top: rem(10px);
    margin-top: rem(15px);
    margin-bottom: rem(20px);
    @extend %clearfix;
  }

  &__article {
    font-weight: 700;
    font-size: rem(16px);
    letter-spacing: 0.12rem;
    float: left;

    &--right {
      float: right;
    }
  }

  &__content {
    font-size: rem(14px);
    letter-spacing: 0.04rem;
    padding-bottom: rem(15px);
    margin-bottom: rem(30px);
    text-align: center;
    border-bottom: 1px solid $colorGray;
  }

  &__amount {
    display: inline-block;
    border: 1px solid $colorGray;
    box-shadow: inset rem(0px 2px 2.3px 2.7px) rgba(0, 0, 0, 0.05);
    border-radius: rem(40px);
    height: rem(40px);
    padding: rem(12px 25px);
    display: flex;
  }

  &__amountLabel {
    display: inline-block;
    font-weight: 700;
    color: $colorGray;
    font-size: rem(14px);
    margin-right: rem(30px);
  }

  &__amountPrice {
    display: inline-block;
    font-weight: 700;
    font-size: rem(16px);
  }

  &__orderBlock {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(430px);
    margin-top: rem(95px);
    border-radius: rem(40px);
    border: 1px solid $colorMagenta;
    padding: rem(8px 50px);
    display: flex;
    margin-bottom: rem(50px);
  }

  &__delivery {
    border-radius: rem(40px);
    background-color: rgba($colorPeachBG, .2);
    @extend %after;
    padding: rem(22px 17px 22px 66px);
    color: $colorDarkGray;
    font-size: rem(16px);
    display: inline-block;
    margin-bottom: rem(50px);

    &:after {
      background-image: url(../imgs/icons/unpackage.png);
      background-size: cover;
      width: rem(28px);
      height: rem(28px);
      left: rem(20px);
      top: rem(17px);
    }
  }

  &__deliveryPlace {
    color: $colorBlack;
  }

  &__colorList {
    text-align: center;
    margin: rem(0 40px 30px);
    @extend %clearfix;
  }

  &__color {
    width: rem(40px);
    height: rem(40px);
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    @extend %after;
    z-index: 0;
    transform-style: preserve-3d;
    @include transition();
    margin: rem(0 15px 10px);
    box-sizing: border-box;
    border: 2px solid $colorGrey;

    &:hover, &:focus {
      transform: scale(1.1);
    }

    &:after {
      background-image: url(../imgs/icons/mazok.png);
      width: rem(63px);
      height: rem(29px);
      background-size: cover;
      bottom: rem(-15px);
      left: rem(-10px);
      transform: translateZ(-1px);
      opacity: 0;
      @include transition();
    }

    &--active:after {
      opacity: 1;
    }
  }

  &__size {
    text-align: center;
    margin-bottom: rem(30px);
    font-weight: 700;
  }

  &__sizeText {
    font-size: rem(21px);
  }

  &__sizeHelp {
    font-weight: 400;
    color: rgba($colorBlack, .4);
    margin-left: rem(8px);
  }
}