.productSlider {
  position: relative;
  min-height: rem(250px);

  &__counter {
    position: absolute;
    right: 9%;
    bottom: rem(30px);
  }

  &__countItem {
    display: inline;
    font-size: rem(48px);
    line-height: rem(68px);
  }

  &__countAll {
    font-size: rem(30px);
    line-height: rem(68px);
    display: inline;
  }

  &__arrow {
    width: rem(19px);
    height: rem(14px);
    position: absolute;
    background: none;
    border: none;
    background-image: url(../imgs/productSlider/productArrow.png);
    background-size: cover;
    @extend %vertAlign; 
    @include transition();

    &--prev {
      left: rem(-30px);

      &:hover, &:focus {
        margin-left: rem(-5px);
      }
    }

    &--next {
      right: rem(-30px);
      transform: rotate(180deg);
      
      &:hover, &:focus {
        margin-right: rem(-5px);
      }
    }
  }
}