.reviewSlider {
  background-image: linear-gradient(to bottom, #fff7f9 0, #ffffff 100%);
  padding-top: rem(100px);
  padding-bottom: rem(150px);
  position: relative;
  // fff7f9

  &__slide {
    display: flex !important;
    justify-content: center;
    margin-bottom: rem(20px);
  }

  &__slideImg {
    flex-shrink: 0;
  }

  &__slideContent {
    font-weight: 700;
    margin-left: 9.1%;
    width: rem(420px);
  }

  &__slideName {
    font-size: rem(22px);
    float: left;
    margin-bottom: rem(20px);
  }

  &__slideDate {
    font-size: rem(14px);
    float: right;
    margin-bottom: rem(40px);
  }

  &__slideText {
    font-size: rem(12px);
    line-height: rem(22px);
    margin-bottom: rem(30px);
  }

  &__slideSocialBlock {
    margin-bottom: rem(55px); 
  }

  &__slideSocial {
    width: rem(45px);
    height: rem(45px);
    margin-right: rem(35px);
    display: inline-block;
    @extend %before;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      height: 100%;
      width: 100%;
      background-size: cover;
    }

    &--vk:before {
      background-image: url(../imgs/icons/vk.png);
    }

    &--facebook:before {
      background-image: url(../imgs/icons/facebook.png);
    }

    &--instagram:before {
      background-image: url(../imgs/icons/instagram.png);
    }

    &--active {
      @extend %after;

      &:after {
        z-index: $zMinus;
        background-image: url(../imgs/icons/mazok.png);
        width: rem(82px);
        height: rem(38px);
        background-size: cover;
        left: rem(-14px);
        @extend %vertAlign;
      }
    }
  }

  &__nav {
    @extend %vertAlign;
    position: absolute;
    right: rem(60px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__navList {
    list-style: none;
    @extend %after;
    @extend %before;
    padding: rem(140px 0);

    &::after, &::before {
      background-color: $colorBlack;
      width: rem(2px);
      height: rem(110px);
      margin: auto;
      left: 0;
      right: 0;
    }

    &:after {
      top: 0;
    }

    &:before {
      bottom: 0;
    }
  }

  &__slideControl {
    color: $colorBlack;
    background-color: transparent;
    display: block;
    border: none;
    margin: 0;
    @include transition();
    font-size: rem(38px);
    width: rem(100px);
    height: rem(50px);

    &:hover {
      opacity: .5;
    }

    .slick-active & {
      background-color: #fbecf0;

      &:hover {
        cursor: default;
        opacity: 1;
      }
    }
  }
}
