.sort {
    width: 100%;
    display: flex;
    margin-left: rem(10px);

    &__item {
        display: flex;
        justify-content: center;
        position: relative;
        border: 1px solid $colorGrey;
        width: rem(291px);
        margin-right: rem(30px);
        background-color: transparent;
        font-size: rem(12px);
        line-height: rem(33px);

        &-text {
            text-align: center;

            &_popular {
                margin-left: rem(40px);
            }
        }

        &_match {
            &::before {
                content: '';
                position: absolute;
                right: rem(10px);
                top: rem(5px);
                display: block;
                width: rem(19px);
                height: rem(19px);
                background-image: url(../../imgs/icons/box.png);
            }
        }

        &_mode {
            &::before {
                content: '';
                position: absolute;
                right: rem(10px);
                top: rem(5px);
                display: block;
                width: rem(15px);
                height: rem(19px);
                background-image: url(../../imgs/icons/down-arrow.png);
            }
        }

        &_popular {
            justify-content: flex-start;
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: rem(19px);
                height: rem(19px);
                right: rem(30px);
                top: rem(4px);
                background-image: url(../../imgs/icons/ellipse.png);
            }

            &::after {
                content: '+';
                position: absolute;
                right: rem(35px);
            }
        }
    }

    &__grid {
        display: none;

        &_appear{
            display: flex;
            width: rem(90px);
        }

        &-list {
            width: rem(45px);
            height: rem(31px);
            border-right: 1px solid $colorGrey;
            background-image: url(../../imgs/icons/list.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        &-net {
            width: rem(45px);
            height: rem(31px);
            border-right: 1px solid $colorGrey;
            background-image: url(../../imgs/icons/grid-active.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}