.subscribe {
  text-align: center;

  &__text {
    color: $colorDarkGray;
    font-size: rem(45px);
    line-height: rem(36px);
    font-weight: 700;
    margin-bottom: rem(80px);
    letter-spacing: 0.14rem;
    position: relative;
    z-index: 1;
  }

  &__form {
    border: 1px solid $colorGray;
    height: rem(65px);
    border-radius: rem(65px);
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    @include palatino();
    padding: rem(0 30px);
    border: none;
    font-weight: 700;
    font-size: rem(16px);
    line-height: rem(40px);
    color: $colorDarkGray;
    background-color: transparent;
    flex-grow: 1;
    text-align: center;
    
    & + & {
      border-left: 1px solid $colorGray;
    }
  }
  
  &__button {
    margin-top: rem(-3px);
    @extend %after;
    margin-right: rem(40px);
    z-index: 0;
    transform-style: preserve-3d;

    &:after {
      transform: translateZ(-1px);
      z-index: $zMinus;
      background-image: url(../imgs/subscribe/baloon.png);
      background-size: cover;
      width: rem(119px);
      height: rem(170px);
      top: rem(-154px);
      left: calc(100% - #{rem(37px)});
    }
  }
}