.tobuy {
    display: flex;
    width: 100%;
    // height: 100%;
    position: relative;

    &__right {
        width: 50%;
        background-color: $colorSligtlyPeach;
        padding: rem(25px 55px 55px 55px);
    }

    &__divider {
       & img {
           height: 100%;
           width: 100%;
       }
    }

    &__left {
        width: 47%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }

    &__back {
        position: absolute;
        bottom: 0;
        background-image: url(../../imgs/toBuy/ellipse-half.png);
        width: rem(460px);
        height: rem(135px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;

        &-arrow {
            background-image: url(../../imgs/icons/down-arrow.png );
            height: rem(25px);
            width: rem(20px);
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: rem(10px);
        }

        &-text {
            margin-top: rem(40px);
        }
    }

    &__breadcrumbs {
        font-size: rem(18px);
        line-height: rem(54px);

        &_link {
            color: $colorBrownPink;
        }

        &-divider {
            color: $colorBrownPink;

            &_last {
                color: #000;
            }
        }
    }

    &__title {
        font-weight: bold;

        &-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: rem(24px);
            line-height: rem(54px);
        }
    }

    &__subtitle {
        font-size: rem(16px);
        color: $colorBrownPink;

        &-link {
            font-size: rem(16px);
            color: $colorBrownPink;
            text-decoration: underline;
        }
    }

    &__email {
        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }
    }

    &__sign {
        font-size: rem(18px);
        line-height: rem(54px);
        color: $colorBrownPink;

        &-link {
            text-decoration: underline;
            color: $colorBrownPink;
            padding-left: rem(5px);
        }
    }

    &__form {
        &-title {
            font-size: rem(24px);
            line-height: rem(54px);
            color: $colorBrownPink;
        }

        &-inputs {
           width: 100%;
           display: flex;
           justify-content: space-between;
        }
    }

    &__first-name {
        width: 45%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(85px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            font-size: rem(18px);
            line-height: rem(54px);
            position: absolute;
        }
    }

    &__last-name {
        width: 45%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(85px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }
    
    &__address {
        width: 45%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(85px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__optional {
        width: 45%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(110px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__country {
        width: 45%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(75px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__postal {
        width: 45%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(95px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__company {
        width: 100%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(85px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__city {
        width: 100%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(45px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__phone {
        width: 100%;
        position: relative;

        &-input {
            font-size: rem(18px);
            line-height: rem(54px);
            color: $colorBrownPink;
            border: none;
            background: transparent;
            width: 100%;
            border-bottom: 1px solid $colorPurple;
            padding-left: rem(125px);

            &::placeholder {
                color: $colorBrownPink;
                opacity: 1;
            }
        }

        &-placeholder {
            position: absolute;
            font-size: rem(18px);
            line-height: rem(54px);
        }
    }

    &__checkout {
        display: flex;
        position: relative;
        margin-top: rem(60px);

        &-grats {
            font-size: rem(49px);
            color: $colorBrownPink;
            margin-bottom: rem(10px);
        }

        &-total {
            font-size: rem(49px);
            color: $colorBrownPink;
        }

        &-count {
            font-size: rem(79px);
            color: $colorBrownPink;
            font-weight: bold;
            position: relative;
        }

        &-currency {
            font-size: rem(24px);
            color: $colorBrownPink;
            position: relative;
        }

        &-img {
            &_container {

            }
        }

        &-multiplier {
            position: absolute;
            left: rem(10px);
            top: rem(10px); 
        }

        &-container {
            display: flex;
            align-items: center;
            margin-left: rem(20px);
        }

        &-value {
            margin-left: rem(20px);
            margin-top: rem(20px);
        }

        &-delivery {
            position: absolute;
            font-size: rem(22px);
            color: $colorSligtlyPeach;
            background-color: $colorBlack;
            top: rem(-10px);
            white-space: nowrap;
            padding: rem(4px);
            border-radius: rem(20px);
        }

        &-additional {
            position: absolute;
            font-size: rem(22px);
            color: $colorSligtlyPeach;
            background-color: $colorBlack;
            right: rem(-8px);
            top: rem(-31px);
            white-space: nowrap;
            padding: rem(4px);
            border-radius: rem(20px);
        }
    }

    &__send {
        height: rem(60px);
        background-color: $colorDarkLight;
        position: absolute;
        width: 50%;
        color: $colorSligtlyPeach;
        right: 0;
        bottom: 0;

        &-img {
            height: 100%;
            position: absolute;
            left: rem(-55px);
        }

        &-next {
            position: absolute;
            right: rem(10px);
            top: rem(20px);

            &-img {
                height: rem(22px);
                width: rem(25px);
            }
        }
        
        &-text {
            text-align: center;
            font-size: rem(24px);
            line-height: rem(54px);
        }
    } 
}

.tobuy__checkbox {
    position: relative;
    width: rem(19px);
    height: rem(19px);
    border: 2px solid $colorWhite;
    border-radius: 50%; 
    display: inline-block;
    vertical-align: middle;
}

.tobuy__checkbox_default {
    display: none;

    &:checked + .tobuy__checkbox::before {
        content: "";
        display: block;
        position: absolute;
        height: rem(19px);
        width: rem(19px);
        background: url(../../imgs/icons/checkbox-white.png);
    }
            

    &:checked + .tobuy__checkbox {
        border: none;
    }
           
}