.userMenu {
  // position: fixed;
  // top: 0;
  // right: 0;
  // height: 100vh;
  // width: rem(295px);
  background-color: #fff;
  z-index: $zDropdown + 2;

  &__name {
    font-size: rem(20px);
    color: $colorGreyDark;
    background-color: $colorSligtlyPink;
    padding: 14px 30px;
  }

  &__inner {
    padding: rem(50px 22px 20px);
    text-align: center;
  }

  &__menu {
    color: $colorGreyDark;
    list-style: none;
    margin-bottom: 30px;
  }

  &__menuItem {
    margin-bottom: rem(22px);
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    box-shadow: none;
    border: 1px solid $colorGreyDark;
    color: $colorGreyDark;
    font-size: rem(14px);
  }

  &__exit {
    color: $colorMagenta;
    margin-top: rem(27px);
    padding-left: rem(25px);
    display: inline-block;
    @extend %after;

    &:after {
      background-image: url(../imgs/userMenu/exit.png);
      height: rem(17px);
      width: rem(17px);
      left: 0;
      background-size: cover;
      top: 0;
    }
  }
}