-
  var advantagesList = [
    {
      'title': 'Naši zákazníci a&nbsp;jejich spokojenost jsou pro nás prioritou.', 
      'img': './imgs/advantages/advantages1.png'
    },
    {
      'title': 'Doprava po Praze ZDARMA pro objednávky nad 1&nbsp;500 Kč.', 
      'img': './imgs/advantages/advantages2.png'
    },
    {
      'title': 'Ušetřete čas při hledáním perfektních nápadů na dárky', 
      'img': './imgs/advantages/advantages3.png'
    },
    {
      'title': 'K&nbsp;balíčku je možné přidat vlastní vzkaz do přáníčka ZDARMA', 
      'img': './imgs/advantages/advantages4.png'
    },
  ]

.advantages
  .container
    .advantages__title Naše výhody
    .advantages__subTitle Proč si&nbsp;vybrat právě nás?
    .row
      for item in advantagesList
        .advantages__item.col
          img.advantages__itemImg(src=item.img, alt=item.title)
          .advantages__itemName!= item.title
