include ./basketItem


mixin basketList(data)
  form.basketList
    .row.row--smallOffset.basketList__header
      if data.wishlist
        .col.col--4
        .col.col--2 Цена за 1 шт.
        .col.col--6 Наличие на складе
        
      else
        .col.col--7
          .row
            .col.col--7
            .col.col--2 Цвет
            .col.col--3 Артикул
        .col.col--5
          .row
            .col.col--4.h-align--center Цена за 1 шт.
            .col.col--3 Количество
            .col.col--4.h-align--right Итоговая цена
            .col.col--1
    .basketList__shadow
      .basketList__inner
        for item in data.items
          if data.wishlist
            +basketItem--wishlist({
              title: item.title,
              image: item.image,
              status: item.status,
              statusName: item.statusName,
              priceByOne: item.priceByOne,
            })
          else
            +basketItem--simple({
              title: item.title,
              image: item.image,
              color: item.color,
              code: item.code,
              priceByOne: item.priceByOne,
              input_value: item.input_value,
              price: item.price
            })

    if !data.wishlist
      .basketList__footer.row.row--smallOffset
        .col.col--7
        .col.col--5
          .row
            .col.col--11
              .basketList__total
                if data.total
                  span Итого:
                  .basketList__totalPrice #{data.total} Kč 
              .h-clearfix
              +button('Оформить заказ', 'h-mb--30 h-mt--30 h-pull--right h-mr--0', 'submit')