include ./button
include ./inputCounter

mixin basketItem(data)
  form.basketItem.row
    .col.col--5
      .basketItem__title!= data.title
      .basketItem__rating
        .basketItem__ratingTop(style=`width: ${data.rating}`)
          - var n = 0;
          while n < 5
            span ★
            - n++;
        .basketItem__ratingBottom
          - var m = 0;
          while m < 5
            span ☆
            - m++;

      a.basketItem__reviews(href="")!= data.reviews
      .basketItem__delete(tabindex=0)
      .basketItem__sellBock
        .basketItem__price Kč #{data.price}
        if data.old_price
          .basketItem__priceOld!= data.old_price
        .basketItem__sale!= data.sale
        +inputCounter(data.input_value, 'basketItem__counter')
        +button('Купить', 'button--xs button--iconText button--icon-box')
      a.basketItem__favorite(href="#") Добавить в избранное
      a.basketItem__save(href="#") Сохранить на новый год
      textarea(name="", placeholder="Введите ваше сообщение").basketItem__textarea
      +button('Отправить', 'h-width--full button--xs h-mr--0 h-ml--0', 'submit')
    .col.col--1
    .col.col--6
      .basketItem__gallery
        if data.gallery
          img.basketItem__image(src=data.gallery[0].image, alt=data.gallery[0].alt)
          .basketItem__previewList
            for image, index in data.gallery
              .basketItem__preview(class=(index === 0) ? 'basketItem__preview--active' : "")
                img.basketItem__previewImg(
                  src=image.preview, 
                  data-src=image.image, 
                  alt=image.alt
                )
            a.basketItem__galleryLink(href="") Подробно

mixin basketItem--wishlist(data)
  .basketItem.basketItem--simple.row.row--smallOffset.h-flex--alignCenter 
    .col.col--4.h-flex--alignCenter
      img.basketItem__image(src=data.image, alt=data.title)
      .basketItem__title!= data.title
    .col.col--2.basketItem__priceByOne #{data.priceByOne} Kč 
    .col.col--2.basketItem__status(class=(data.status ? 'basketItem__status--true' : 'basketItem__status--false'))!= data.statusName
    .col.col--3 
        +button('Купить', 'button--xs button--iconText button--icon-box')
    .col.col--1
      .basketItem__delete(tabindex=0)

mixin basketItem--simple(data)
  .basketItem.basketItem--simple.row.row--smallOffset
    .col.col--7
      .row.h-flex--alignCenter
        .col.col--7.h-flex--alignCenter
          img.basketItem__image(src=data.image, alt=data.title)
          .basketItem__title!= data.title
        .col.col--2
          .basketItem__color(style=`background-color: ${data.color}`)
        .basketItem__code.col.col--3!= data.code
    .col.col--5
      .row.h-flex--alignCenter
        .basketItem__priceByOne.col.col--4 #{data.priceByOne} Kč 
        .col.col--3
            +inputCounter(data.input_value, 'basketItem__counter')
        .basketItem__priceCol.col.col--4
          span.basketItem__price #{data.price} Kč 
        .col.col--1
          .basketItem__delete(tabindex=0)
