mixin breadcrumbs(items, modifier)
  .breadcrumbs(class=modifier)
    for item, index in items
      if item.active || index >= items.length - 1
        .breadcrumbs__item.breadcrumbs__item--active!= item.title
      else
        a(href=item.link).breadcrumbs__item!= item.title