mixin button(title, modifier, type)
  if (type && type.indexOf("submit") != -1)
    button.button(type=type, class=modifier)!= title
  else
    a.button(href="/", role="button", title=title, class=modifier)!= title