mixin calendar(input, input_modifier)
    .calendar
        if input
            input.calendar__input(class=input_modifier, placeholder="Введите дату")
        else
            div.calendar__title  Your Date
            input.calendar__datepicker#datepicker
            #calendar.calendar__container
        