include ./button

-
  var cardsValue = [
    {
     'img': './imgs/cards/card-image.png',
     'secondImg': './imgs/cards/image.jpg',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
    {
     'img': './imgs/cards/card-image.png',
     'price': '3599',
     'currency': 'руб',
     'title': 'SOCKS МУЖСКОЙ',
     'value': '-50%'
    },
  ]

.cards
    for item in cardsValue
        .cards__container(class=`${item.secondImg ? 'cards__container--doubleImg' : ''}`)
            a.cards__wrapper.col(href="#")
                .cards__img-wrapper
                    img.cards__img(src=item.img, alt=item.title)
                    if item.secondImg
                        img.cards__secondImg(src=item.secondImg, alt=item.title)
                .cards__title= item.title
                .cards__price 
                    span.cards__price-count= item.price
                    span.cards__price-currency= item.currency
                .cards__discount
                    span.cards__discount-value= item.value
            .cards__footer
                +button('В избранное', 'button--xs button--icon button--icon-like')
                +button('Заказать', 'button--xs button--icon button--icon-box')
