include ./button

-
  var steps = [
    {
      "text": "Select the type of box and add products to it",
      "img": "./imgs/cloudsBlock/img1.png"
    },
    {
      "text": "Write your message in the personalized card",
      "img": "./imgs/cloudsBlock/img2.png"
    },
    {
      "text": "Choose the delivery option that fits you the best",
      "img": "./imgs/cloudsBlock/img3.png"
    },
    {
      "text": "Make the payment that is convenient for you",
      "img": "./imgs/cloudsBlock/img4.png"
    },
    {
      "text": "We take care of the rest. We package it beautifully and deliver a smile to someone’s face.",
      "modifier": "noNumber",
      "img": "./imgs/cloudsBlock/img5.png"
    }
  ]

.cloudsBlock
  //- img.cloudsBlock__header(src="./imgs/cloudsBlock/cloudsBlock__head.png", alt="")
  for step, index in steps
    .cloudsBlock__step(class=`cloudsBlock__step--${index + 1} ${step.modifier ? 'cloudsBlock__step--' + step.modifier : ''}`)
      img.cloudsBlock__stepImg(src=step.img, alt=step.text)
      .cloudsBlock__stepContent
        .cloudsBlock__stepNumber Step #{index + 1}
        .cloudsBlock__stepText= step.text
  .cloudsBlock__buttons
    +button('Go to constructor', 'button--whiteColor h-mb--30')
    a.text.text--underline(href="/") Kup teď 
