-
    var colors = [
        {
            'text': 'Белый',
            'color': '#fff'
        },
        {
            'text': 'Розовый',
            'color': '#feabd8',
        },
        {
            'text': 'Синий',
            'color': '#2a8ce6'
        },
        {
            'text': 'Красный',
            'color': '#ab2b2b'
        },
        {
            'text': 'Желтый',
            'color': '#fde910'
        },
        {
            'text': 'Золотой',
            'color': '#fad201'
        },
        {
            'text': 'Серебрянный',
            'color': '#c0c0c0'
        }
    ]

.color
    div.color__title Colors
    for item, index in colors
        div.color__item
            input.color__itemCheckbox(type="checkbox", id=`color-${index}`, data-color=item.color)
            label.color__itemText(for=`color-${index}`, style=`--color: ${item.color}`)= item.text