mixin __slide(title, img)
  a.companySlider__slide(href=url ? url : '/')
    img.companySlider__img(src=img, alt=title)

.companySlider
  .js-companySliderNav
  .js-companySlider
    +__slide('company', './imgs/companySlider/company.png')
    +__slide('company', './imgs/companySlider/company2.png')
    +__slide('company', './imgs/companySlider/company3.png')
    +__slide('company', './imgs/companySlider/company4.png')
    +__slide('company', './imgs/companySlider/company5.png')
    +__slide('company', './imgs/companySlider/company6.png')
    +__slide('company', './imgs/companySlider/company.png')
    +__slide('company', './imgs/companySlider/company2.png')
    +__slide('company', './imgs/companySlider/company3.png')
    +__slide('company', './imgs/companySlider/company4.png')
    +__slide('company', './imgs/companySlider/company5.png')
    +__slide('company', './imgs/companySlider/company6.png')