include ./button

mixin __infoBlock(title, subtitle, info, mofifier, link)
  if link
    a.contactInfo__infoBlock.contactInfo__infoBlock--link(href=link, class=`contactInfo__infoBlock--${mofifier}`)
      .contactInfo__infoTitle!= title
      .contactInfo__infoSubTitle!= subtitle
    
  else
    .contactInfo__infoBlock(class=`contactInfo__infoBlock--${mofifier}`)
      .contactInfo__infoTitle!= title
      .contactInfo__infoSubTitle!= subtitle
      if info
        .contactInfo__infoText!= info

.contactInfo
  .contactInfo__header
    .container
      .row
        .col.col--1
        .col.col--5
          h1.contactInfo__headerTitle Мы&nbsp;всегда рады слышать и&nbsp;видеть Вас!
          .contactInfo__headerSubTitle WE wouid love to help
        .col.col--1
        .col.col--5
          form.contactInfo__form
            .contactInfo__formTitle Н#[span.contactInfo__pinkLetter а]пишите нам
            .contactInfo__formSubTitle Наш менеджер ответи в ближайшее время
            input.contactInfo__formInput(type="text", placeholder="Введите ваше имя")
            input.contactInfo__formInput(type="text", placeholder="Введите ваш ")
            input.contactInfo__formInput(type="text", placeholder="Введите ваш email")
            textarea.contactInfo__formTextarea(placeholder="Введите ваше ссобщение* ")
            +button('Отправить', 'button--wider h-mb---25', 'submit')
  .container.h-flex--justifyAround.h-mt--70
    +__infoBlock(
      'Приходите в гости', 
      'Мы открыты каждый день с 9 - 16', 
      'V Jame, Praha 1', 
      'location'
    )
    +__infoBlock(
      'Позвоните нам', 
      'Мы на связи каждый день с 9 - 22', 
      '<a href="tel:+420776436220">+420 776 436 220</a>', 
      'whatsapp'
    )
    +__infoBlock(
      'Напишите нам', 
      'Мы отвечаем в течении 24 часов', 
      '<a href="mailto:hello@prettypresent.cz">hello@prettypresent.cz</a>', 
      'mail'
    )
  .container.h-mb--25.h-mt--100
    h2.contactInfo__title Зaходите к нам в офис
    .contactInfo__subTitle Выпьем чашечку чая и подготовим вам подарок!
  .container.container--full.container--noPadding
    .contactInfo__mapWrapper
      #map.contactInfo__map
  .container.h-mt--80.h-mb--25
    h2.contactInfo__title.contactInfo__title--beautiful 
      | Н#[span.contactInfo__pinkLetter.contactInfo__pinkLetter--beautiful а]ши контакты
    .contactInfo__subTitle Свяжитесь с нами удобным сбособом
    .h-flex--justifyAround.h-mt--55
      +__infoBlock(
        'Email', 
        'YaroslavDesign@gmail.com', 
        '', 
        'mail', 
        '/'
      )
      +__infoBlock(
        'Phone', 
        '+480(---)--_--_--', 
        '', 
        'phone', 
        '/'
      )
      +__infoBlock(
        'instagram', 
        'YaroslavDesign', 
        '', 
        'instagram', 
        '/'
      )
      +__infoBlock(
        'Facebook', 
        'WWW.HTTPPFB', 
        '', 
        'facebook', 
        '/'
      )
      +__infoBlock(
        'skype', 
        'sTUDIOaRT', 
        '', 
        'skype', 
        '/'
      )

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR95dz40TsyhKsWQ0JgqCa2QQaOygIQgQ&callback=initMap", async, defer)
  
  script.
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        disableDefaultUI: true,
        center: {lat: 50.073698, lng: 14.4276955},
        zoom: 14.9,
        styles: [{
          stylers: [{
            saturation: -100
          }]
        }]
      });
      var image = './imgs/contacts/mark.png';
      var marker = new google.maps.Marker({
        position: {lat: 50.080312, lng: 14.424937},
        map: map,
        icon: image
      });
    }