include ./button
include ./calendar

.content
    .container
        .row
            .col.col--3.content__menu
                include ../components/section
                include ../components/price
                include ../components/events
                include ../components/modification
                include ../components/color
                +calendar()
            .col.col--9
                .row
                    include ../components/sort
                .row
                    include ../components/cards
                .row
                    include ../components/pagination
                .row 
                    p.content__bottom Если Вы не увидели тот идеальный набор, который Вам нужен, то пожалуйста, воспользуйтесь нашим 
                        a.content__link онлайн конструктором 
                        span для создания Вашего индивидуального подарка
                .row
                    +button('Создать подарок', 'content__button h-mb--30')
