-
  var blockList = [
    {
      "text": "<strong>We are always happy to see you in our office in the center of Prague!</strong><br/>V Jame 1, Praha 1, Офис 2184",
      "modifier": "contactBlock__paragraph--bordered contactBlock__paragraph--icon contactBlock__paragraph--icon-location"
    },
    {
      "text": "We know that you know everything, but do not be shy and write us in case of any questions.",
      "modifier": "contactBlock__paragraph--bordered"
    },
    {
      "text": "<a href='tel: 420774128241'>+420 77 41 282 41</a>",
      "modifier": "contactBlock__paragraph--icon contactBlock__paragraph--icon-phone"
    },
    {
      "text": "<a href='tel: 420774128241'>E-mail </a>",
      "modifier": "contactBlock__paragraph--icon contactBlock__paragraph--icon-mail"
    },
  ]

.contactBlock
  .container
    .text.text--h2 Our contacts!
    .row
      .col.col--7
        for block in blockList
          .contactBlock__paragraph(class=block.modifier)!= block.text
      .col.col--5
        img(src="./imgs/contactBlock/office.jpg", alt="office")
