include ./button

mixin createAcc(noReg)
    .createAcc
        p.createAcc__title Первый раз здесь?
        +button('Создать акккаунт +', 'createAcc__button')
        p.createAcc__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  
        if noReg
            +button('Оформить без регистрации', 'button--dark createAcc__button')
            p.createAcc__description Создание учетной записи поможет делать покупки быстрее и удобнее, а так же получать скидки как постоянный покупатель. 
