mixin dropdown(content, items, modifier)
  .dropdown(class=modifier)
    a.dropdown__toggler(href="")!= content
    ul.dropdown__menu
      for item in items
        li
          a.dropdown__menuItem(href="#")!= item
      
mixin select(content, items, modifier)
  select.dropdown.dropdown--select(class=modifier)
    for item in items
      option(value=item)&attributes(content == item ? {selected} : {})!= item
    