-
    var events = [
        {
            'text': 'Новый год',
        },
        {
            'text': '8е марта',
        },
        {
            'text': 'День рождения',
        },
        {
            'text': 'Годовщина свадьбы',
        },
        {
            'text': 'Без повода',
        },
        {
            'text': 'Годовщина  встречи',
        },
        {
            'text': 'Ваше название',
        },
        {
            'text': 'текст рыба',
        },
    ]

.events
    div.events__title События
    for item in events
        a.events__item(class=` ${item.modifier ? 'events__item_' + item.modifier : ''}` href="#")
            span.events__item-text=  item.text