include ./dropdown

-
 var topmenu = [
    {'title': 'Home'},
    {'title': 'page GIfts', 'dropdown_items': ['1', '2']},
    {'title': 'catalog'},
    {'title': 'box designer'},
    {'title': 'Enter the site'},
    {'title': 'buy'},
    {'title': 'about us'},
    {'title': 'contacts'}
  ]

mixin __footerTopMenu
  nav.footer__topMenu
    for item in topmenu
      li.footer__topMenuItem
        if item.dropdown_items
          +dropdown(item.title, item.dropdown_items, 'footer__topMenuLink dropdown--dark')
        else
          a.footer__topMenuLink(href="")= item.title

mixin __footerBottomMenu(list)
  nav.footer__bottomMenu
    for item in list
      li.footer__bottomMenuItem
        a.footer__bottomMenuLink(href="")= item

footer.footer
  .container.container--full
    .row
      .col.col--1
      .col.col--11
        +__footerTopMenu
    .row
      .col.col--2
      .col.col--9.h-flex--justifyCenter
        +__footerBottomMenu([
          'PERSONALIZED GIFTS',
          'GIFT BOXES',
          'BUILD YOUR OWN BOX',
          'FOR CORPORATES',
          'SPECIAL DEALS',
          'EXTRA SERVICES',
          'SCRAPAHOLIC',
          'EVENT PAGE',
          'ABOUT',
          'CONTACT'
        ])
        +__footerBottomMenu([
          'For family',
          'for them',
          'for him',
          'for her',
          'for children'
        ])
        +__footerBottomMenu([
          'BEST FRIEND',
          'I LOVE YOU',
          'MOTHER',
          'GRANDMA',
          'BIRTHDAY',
          'GET BETTER',
          'GOOD LUCK',
          'GRADUATION',
          'THANK YOU',
          'COLLEAGUE'
        ])
        +__footerBottomMenu([
          'NEW JOB',
          'RELAX',
          'GOURMAND',
          'JUST BECAUSE',
          'NEW HOME',
          'TRAVELER',
          'SPORTY',
          'BIRTHDAY',
          'MISS YOU',
          'CHEERUP',
          "WEDDING"
        ])
        .footer__social.h-margin--auto
          -
            var socials = [
                {"name": "facebook", "link": ""},
                {"name": "instagram", "link": ""},
                {"name": "email", "link": ""},
                {"name": "whatsapp", "link": ""},
                {"name": "twitter", "link": ""}
              ]
          for social in socials
            a.footer__socialItem(class="footer__socialItem--" + social.name, href=social.link)

    .footer__copyright Copyright © 2018, Prettypresent.cz, All rights reserved.