include ./button
include ./input
include ./dropdown
include ./calendar

mixin formBlock(type, error, nonCheckbox)
    if type == 'login'
        .formBlock.formBlock--login
            form.formBlock__form(action="")
                h2 Зарегистрированный пользователь
                p.formBlock__title Войдите
                input(type="text" placeholder="Введите ваш логин").formBlock__input
                input(type="password" placeholder="Введите ваш пароль").formBlock__input
                a(href="").formBlock__reminder Забыли пароль?
                +button('Войти', 'button--full')

    if type == 'registration'
        form.formBlock.formBlock--registration
            .row
                .col.col--5
                    fieldset.formBlock__fieldset
                        legend.formBlock__legend Основные данные
                        .formBlock__group(class=error ? 'has-error' : '')
                            input.formBlock__input(type="text", id="name", reqiured, placeholder="Введите имя")
                            label.formBlock__label(for="name") Введите имя
                            if error
                                .formBlock__error Имя должно быть от 1 до 32 символов!
                        .formBlock__group(class=error ? 'has-error' : '')
                            input.formBlock__input(type="text", id="surname", reqiured, placeholder="Введите фамилию")
                            label.formBlock__label(for="name") Введите фамилию
                            if error
                                .formBlock__error Фамилия должна быть от 1 до 32 символов!
                        .formBlock__group(class=error ? 'has-error' : '')
                            input.formBlock__input(type="email", id="mail", reqiured, placeholder="Введите e-mail")
                            label.formBlock__label(for="mail") Введите e-mail
                            if error
                                .formBlock__error E-Mail введен неправильно!
                        .formBlock__group(class=error ? 'has-error' : '')
                            input.formBlock__input(type="phone", id="phone", reqiured, placeholder="Введите телефон")
                            label.formBlock__label(for="phone") Введите телефон
                            if error
                                .formBlock__error Телефон должен быть от 3 до 32 цифр!
                .col.col--1
                .col.col--6
                    fieldset.formBlock__fieldset
                        .row
                            .col.col--10
                                legend.formBlock__legend Ваш пароль
                                .formBlock__group(class=error ? 'has-error' : '')
                                    input.formBlock__input(type="password", id="password", reqiured, placeholder="Пароль")
                                    label.formBlock__label(for="password") Пароль
                                    if error
                                        .formBlock__error В пароле должно быть от 4 до 20 символов!
                                .formBlock__group
                                    input.formBlock__input(type="password", id="password2", reqiured, placeholder="Подтверждение пароля")
                                    label.formBlock__label(for="password2") Подтверждение пароля
                    fieldset.formBlock__fieldset
                        legend.formBlock__legend Подписка на новости 
                        +input({
                            'type': 'radio', 'label': 'Да', 'id': 'news1', 'value': 1, 'name': 'news'
                        })
                        +input({
                            'type': 'radio', 'label': 'Нет', 'id': 'news2', 'value': 1, 'name': 'news'
                        })
                    fieldset.formBlock__fieldset
                        +input({
                            'type': 'checkbox', 'label': 'Я прочитал <a href="/">Политика Безопасности</a> и согласен с условиями безопасности и обработки персональных данных', 'id': 'agree'
                        })

                    +button('Продолжить', 'button--full button--xs', 'submit')

    if type == 'shiping'
        form.formBlock.formBlock--shiping
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Выберите удобный способ доставки для этого заказа:
                p.h-mb--20
                    strong Единая ставка

                -
                    var shipings = [
                        {
                            'label': 'Фиксированная стоимость доставки',
                            'text': '8.00 р.'
                        },
                        {
                            'label': 'Нефиксированная стоимость доставки',
                            'text': '8090012.00 р.'
                        }
                    ]
                .formBlock__fieldset
                    for s, index in shipings
                        .formBlock__group
                            +input({
                                'type': 'radio', 'label': s.label, 'id': `shiping-${index}`, 'name': 'shiping'
                            })
                            span!= s.text
                            
                .formBlock__fieldset.h-mt--20
                    .formBlock__group
                        label.formBlock__label(for="shiping_text") Вы можете добавить комментарий к своему заказу:
                        textarea.formBlock__input(type="email", id="shiping_text", reqiured, placeholder="Здесь можете написать сообщение к вашему заказу", rows="4")

                +button('Продолжить', 'h-pull--right button--xs', 'submit')

    if type == 'payment'
        form.formBlock.formBlock--payment
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Выберите способ оплаты для этого заказа:
                -
                    var payment = [
                        {
                            'label': 'Оплата при получении'
                        },
                        {
                            'label': 'Оплата при получении'
                        }
                    ]
                .formBlock__fieldset
                    for p, index in payment
                        .formBlock__group
                            +input({
                                'type': 'radio', 'label': p.label, 'id': `payment-${index}`, 'name': 'payment'
                            })
                            
                .formBlock__fieldset.h-mt--20
                    .formBlock__group
                        label.formBlock__label(for="payment_text") Вы можете добавить комментарий к своему заказу:
                        textarea.formBlock__input(type="email", id="payment_text", reqiured, placeholder="Здесь можете написать сообщение к вашему заказу", rows="4")
                .formBlock__group
                    +input({
                        'type': 'checkbox', 'label': 'Мною прочитаны и я даю согласие с документом <a href="">Условия соглашения</a>', 'id': 'payment_agree', 'modifier': "h-mb--20"
                    })
                +button('Продолжить', 'h-pull--right button--xs', 'submit')

    if type == 'contact'
        form.formBlock.formBlock--contact
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Contact Information
                .formBlock__group
                    label.formBlock__label(for="address_mail") Введите email
                    input.formBlock__input(type="email", id="address_mail", reqiured, placeholder="email")
                +input({
                    'type': 'checkbox', 'label': 'Keep me up to date on news and exclusive offers', 'id': 'address_agree'
                })

            fieldset.formBlock__fieldset
                textarea.formBlock__input(type="email", id="address_text", reqiured, placeholder="Здесь можете написать сообщение к вашему заказу", rows="4")

            fieldset.formBlock__fieldset
                p.h-color--grayDark Нажимая на кнопку оформить заказ я согласен с #[a.h-fw--700(href="/") условиями продаж] и обработки #[a.h-fw--700(href="/") персональных данных].

    if type == 'address'
        form.formBlock.formBlock--address
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Shiping address
                .row
                    .col.col--6
                        .formBlock__group
                            label.formBlock__label(for="address_name") First name
                            input.formBlock__input(type="text", id="address_name", reqiured, placeholder="Reqiured")
                        .formBlock__group
                            label.formBlock__label(for="address_company") Company
                            input.formBlock__input(type="text", id="address_company", placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="address_country") Country
                            +select('Česká republika', ['Česká republika', 'Russia'], 'formBlock__input dropdown--block')
                        .formBlock__group
                            label.formBlock__label(for="address_city") City
                            +select('Praha', ['Praha', 'Brno'], 'formBlock__input dropdown--block')
                            
                    .col.col--6
                        .formBlock__group
                            label.formBlock__label(for="address_surname") Last name
                            input.formBlock__input(type="text", id="address_surname", reqiured, placeholder="Reqiured")
                        .formBlock__group
                            label.formBlock__label(for="address_co") ČO
                            input.formBlock__input(type="text", id="address_co",  placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="address_dic") DIČ
                            input.formBlock__input(type="text", id="address_dic", placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="address_postal") Postal code
                            input.formBlock__input(type="text", id="address_postal", placeholder="Optional")

                .row.h-mt--25
                    .col.col--12
                        .formBlock__group
                            label.formBlock__label(for="address_address") Address
                            input.formBlock__input(type="text", id="address_address", placeholder="Reqiured")
                            
            fieldset.formBlock__fieldset.h-mt--auto
                if !nonCheckbox
                    +input({
                        'type': 'checkbox', 'label': 'Я прочитал <a href="/">Политика Безопасности</a> и согласен с условиями безопасности и обработки персональных данных', 'id': 'agree'
                    })
                +button('Продолжить', 'button--xs h-mt--20 h-pull--right', 'submit')

    if type == 'info'
        form.formBlock
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Личные данные
                fieldset.formBlock__fieldset
                    .formBlock__group(class=error ? 'has-error' : '')
                        label.formBlock__label(for="name") Имя
                        input.formBlock__input(type="text", id="info_name", reqiured, placeholder="Имя")
                        if error
                            .formBlock__error Имя должно быть от 1 до 32 символов!
                            
                    .formBlock__group
                        label.formBlock__label(for="info_surname") Фамилия
                        input.formBlock__input(type="text", id="info_surname", placeholder="Фамилия")
                    .formBlock__group
                        label.formBlock__label(for="info_email") E-Mail
                        input.formBlock__input(type="email", id="info_email", placeholder="E-Mail")
                    .formBlock__group
                        label.formBlock__label(for="info_phone") Телефон
                        input.formBlock__input(type="phone", id="info_phone", placeholder="Телефон")
                    .formBlock__group
                        label.formBlock__label(for="address_fax") Факс
                        input.formBlock__input(type="phone", id="address_fax", placeholder="Факс")

                fieldset.formBlock__fieldset
                    legend.formBlock__legend.h-mb--30 Пароль
                    .formBlock__group
                        label.formBlock__label(for="info_password") Пароль
                        input.formBlock__input(type="password", id="info_password", reqiured, placeholder="Пароль")
                    .formBlock__group
                        label.formBlock__label(for="info_password-retry") Подтвердить
                        input.formBlock__input(type="password", id="info_password-retry", placeholder="Подтвердить")

                fieldset.formBlock__fieldset
                    +input({
                        'type': 'checkbox', 'label': 'Я хочу подписаться на рассылку новостей Мой Магазин. ', 'id': 'info_news', 'modifier': 'h-mb--20'
                    })
                    +input({
                        'type': 'checkbox', 'label': ' Мой адрес доставки совпадает с адресом платежа ', 'id': 'info_news2'
                    })
              
    if type == 'cabinet__info'
        form.formBlock.formBlock--cabinet
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Ваша учетная запись
                .formBlock__group
                    input.formBlock__input(type="text", id="cabinet_name", reqiured, placeholder="Имя, отчество")
                    label.formBlock__label(for="cabinet_name") Имя, отчество
                .formBlock__group
                    input.formBlock__input(type="text", id="cabinet_name", reqiured, placeholder="Фамилия")
                    label.formBlock__label(for="cabinet_surname") Фамилия
                .formBlock__group
                    input.formBlock__input(type="email", id="cabinet_mail", reqiured, placeholder="E-mail")
                    label.formBlock__label(for="cabinet_mail") E-mail
                .formBlock__group
                    input.formBlock__input(type="phone", id="cabinet_phone", reqiured, placeholder="Телефон")
                    label.formBlock__label(for="cabinet_phone") Телефон
                .formBlock__group.h-flex--alignCenter
                    +calendar(true, 'formBlock__input')

    if type == 'cabinet__password'
        form.formBlock.formBlock--cabinet
            fieldset.formBlock__fieldset
                legend.formBlock__legend Ваш пароль
                .formBlock__group
                    input.formBlock__input(type="password", id="cabinet_password", reqiured, placeholder="Пароль")
                    label.formBlock__label(for="cabinet_password") Пароль
                .formBlock__group
                    input.formBlock__input(type="password", id="cabinet_password2", reqiured, placeholder="Подтверждение пароля")
                    label.formBlock__label(for="cabinet_password2") Подтверждение пароля
    
    if type == 'cabinet__address'
        form.formBlock.formBlock--cabinet.formBlock--address
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Платежный адрес
                .row
                    .col.col--6
                        .formBlock__group
                            label.formBlock__label(for="cabinet_street") Улица
                            input.formBlock__input(type="text", id="cabinet_street", reqiured, placeholder="Reqiured")
                        .formBlock__group
                            label.formBlock__label(for="cabinet_postal") Индекс
                            input.formBlock__input(type="text", id="cabinet_postal", placeholder="Reqiured", reqiured)
                    .col.col--6
                        .formBlock__group
                            label.formBlock__label(for="cabinet_mesto") Район
                            input.formBlock__input(type="text", id="cabinet_mesto", reqiured, placeholder="Reqiured")
                        .formBlock__group
                            label.formBlock__label(for="cabinet_country") Страна
                            +dropdown('Česká republika', ['Česká republika', 'Russia'], 'formBlock__input dropdown--block')

        form.formBlock.formBlock--cabinet.formBlock--address
            fieldset.formBlock__fieldset
                legend.formBlock__legend.h-mb--30 Адрес доставки
                .row
                    .col.col--6
                        .formBlock__group
                            label.formBlock__label(for="cabinet2_name") Имя
                            input.formBlock__input(type="text", id="cabinet2_name", placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="cabinet2_mesto") Район
                            input.formBlock__input(type="text", id="cabinet2_mesto", placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="cabinet_country") Страна
                            +dropdown('Česká republika', ['Česká republika', 'Russia'], 'formBlock__input dropdown--block')
                    .col.col--6
                        .formBlock__group
                            label.formBlock__label(for="cabinet2_street") Улица
                            input.formBlock__input(type="text", id="cabinet2_street", placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="cabinet2_postal") Индекс
                            input.formBlock__input(type="text", id="cabinet2_postal", placeholder="Optional")
                        .formBlock__group
                            label.formBlock__label(for="cabinet2_phone") Телефон
                            input.formBlock__input(type="text", id="cabinet2_phone", placeholder="Optional")

    if type == 'cabinet__news'
        form.formBlock.formBlock--cabinet
            fieldset.formBlock__fieldset
                legend.formBlock__legend Подписаться
                +input({
                    'type': 'radio', 'label': 'Да', 'id': 'news1', 'value': 1, 'name': 'cabinet_news'
                })
                +input({
                    'type': 'radio', 'label': 'Нет', 'id': 'news2', 'value': 1, 'name': 'cabinet_news'
                })

    if type == 'finish'
        .formBlock.formBlock--finish
            .table-responsive
                table.table.table-bordered.table-hover
                    thead
                        tr
                            td.h-align--left Наименование товара
                            td.h-align--left Модель
                            td.h-align--right Кол-во
                            td.h-align--right Цена за шт.
                            td.h-align--right Всего
                    tbody
                        tr
                            td.h-align--left
                                a(href='') iPhone
                            td.h-align--left Товар 11
                            td.h-align--right 1
                            td.h-align--right 123.20 р.
                            td.h-align--right 123.20 р.
                    tfoot
                        tr
                            td.h-align--right(colspan='4')
                                strong Предварительная стоимость:
                            td.h-align--right 101.00 р.
                        tr
                            td.h-align--right(colspan='4')
                                strong Фиксированная стоимость доставки:
                            td.h-align--right 5.00 р.
                        tr
                            td.h-align--right(colspan='4')
                                strong НДС (20%):
                            td.h-align--right 21.20 р.
                        tr
                            td.h-align--right(colspan='4')
                                strong Экологический налог (-2.00):
                            td.h-align--right 4.00 р.
                        tr
                            td.h-align--right(colspan='4')
                                strong Итого:
                            td.h-align--right 131.20 р.
            +button('Подтверждение заказа', 'button--xs h-mt--20 h-pull--right', 'submit')
