head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport" content="width=1024, initial-scale=1")
  title Pretty Present
  link(rel="stylesheet" type="text/css" href="./css/styles.css")
  script(type="text/javascript" src="./js/main.js")
  //- link(rel="icon" href="/img/favicon.ico")