include ./dropdown

-
 var menu = [
    {'title': 'Hotové balíčky', "link": "/catalog.html"},
    {'title': 'Sestavit balíček', "link": "/content.html"},
    //- {'title': 'Для компаний', 'active': true},
    {'title': 'Scrapaholic', "link": "/product.html"},
    {'title': 'Časté dotazy', "link": "/content.html"},
    {'title': 'Pro firmy', "link": "/content.html"},
    {'title': 'Kontakty', "link": "/contacts.html"},
    {'title': 'Doprava a Platba', "link": "/content.html"},
  ]

mixin __headerMenu
  nav.header__menu.h-mb--20
    for item in menu
      li.header__menuItem
        a.header__menuLink(href=item.link, class=item.active ? 'header__menuLink--active' : '')= item.title

header.header
  .container.container--full.header__top
    a.header__topLink(href="") Přihlásit se
    a.header__topLink.header__topLink--favorite(href="") Oblíbené
    a.header__topLink.header__topLink--cart(href="/basket.html", data-count="7") Košík
  .container.container--full.h-mt--15.h-mb--35
    .row.row--verticalCenter
      .col.col--2.colDesktop--1
      .col.col--2.colDesktop--3
        input.header__search(type="search", placeholder="Hledáte něco?")
      .col.col--4.h-align--center
        a.header__logo(href="/")
          img.header__logoImg(src="./imgs/logo.png", alt="Pretty Present" height="114", width="249")
      .col.col--4.h-flex--justifyEnd.h-flex--alignCenter
        +dropdown(
          'Euro <span class="text text--strong">€</span>', 
          ['Крона <span class="text text--strong">CZK</span>', 'Рубль <span class="text text--strong">₽</span>'], 
          'header__dropdown'
        )
        +dropdown(
          '<div class="header__itemFlag">Čeština</div>', 
          ['<div class="header__itemFlag">English</div>', '<div class="header__itemFlag">Русский</div>'], 
          'header__dropdown'
        )
        .header__social
          a.header__socialItem.header__socialItem--instagram(href="")
          a.header__socialItem.header__socialItem--facebook(href="")
  +__headerMenu