mixin input(data)
  .input(class=data.modifier)
    if data.type == 'checkbox'
      input.input__checkbox(type="checkbox", id=data.id, value=data.value)
      label.input__label(for=data.id)!=data.label

    if data.type == 'radio'
      input.input__radio(type="radio", id=data.id, value=data.value, name=data.name )
      label.input__label(for=data.id)!=data.label

