include ./button

.instagram
  +button('Read more', 'instagram__button button--wide button--transparent')
  .instagram__inner 
    .instagram__title.text.text--h2 #Pretty present
    img.instagram__table(src="./imgs/instagram/img.jpg", alt="#Pretty present")