mixin __slide(title, img)
  a.itemsSlider__slide(href="/")
    img.itemsSlider__img(src=img, alt=title)

.itemsSlider
  .js-itemsSliderNav
  .js-itemsSlider
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
    +__slide('product', './imgs/productSlider/product.jpg')
