include ./button
include ./dropdown

mixin lego--step1
  -
    var boxList = [
      './imgs/lego/legoBox1.jpg',
      './imgs/lego/legoBox2.jpg',
      './imgs/lego/legoBox3.jpg',
      './imgs/lego/legoBox4.jpg'
    ]
  .lego.lego--step1.container.container--slim
    .row
      each box, index in boxList
        .col.col--6.lego__boxColor(role="button", tabindex=1, class=(index === boxList.length - 1) ? 'lego__boxColor--active' : '')
          img.lego__boxImage(src=box)

mixin lego--step2
  .lego.lego--step2
    a.lego__toBoxesLink(href="#boxes") Начни создавать свой уникальный подарок
    .lego__slider
      .js-legoSliderNav
      .js-legoSlider
        +__slide(
          '2', './imgs/lego/legoItem1.jpg'
        )
        +__slide(
          '3', './imgs/lego/legoItem2.jpg'
        )
        +__slide(
          '2','./imgs/lego/legoItem3.jpg'
        )
        +__slide(
          '1','./imgs/lego/legoItem1.jpg'
        )
        +__slide(
          '1','./imgs/lego/legoItem2.jpg'
        )
        +__slide(
          '1','./imgs/lego/legoItem4.jpg'
        )
        +__slide(
          '2','./imgs/lego/legoItem3.jpg'
        )
    .lego__box
      .row
        .col.col--3.lego__boxCol
          +dropdown(
            'Выберите категорию', 
            ['1', '2'], 
            'lego__dropdown'
          )
          +dropdown(
            'Выберите категорию', 
            ['1', '2'], 
            'lego__dropdown'
          )
          +dropdown(
            'Выберите категорию', 
            ['1', '2'], 
            'lego__dropdown'
          )
          input.lego__search(type="search", placeholder="Введите поисковой запрос") 
          
        .col.col--5.lego__boxCol.lego__boxCol--center 
          .lego__boxTitle Компоненты коробки
          -
            var itemsList = [
              {
                "count": '2',
                "title": 'Наименование товара *коробка',
                "price": '300 Kč',
              },
              {
                "count": '1',
                "title": 'Флакон для жидкостей *емкость',
                "price": '320 Kč',
              },
              {
                "count": '1',
                "title": 'Блокнот для девушки *книги',
                "price": '650 Kč',
              },
              {
                "count": '1',
                "title": 'Наименование товара *коробка',
                "price": '970 Kč',
              }
            ]
          .lego__boxItemsList
            each item in itemsList
              .lego__boxItem
                .lego__boxItemCount!= item.count
                .lego__boxItemTitle!= item.title
                .lego__boxItemPrice!= item.price
                button.lego__boxItemDelete Удалить
                
          .lego__boxSize Размер коробки: #[strong Средняя]
          .lego__boxFooter
            .lego__boxTotal
              span.lego__boxAmount 2240
              span.lego__boxAmountCurrency Kč
            +button('Оформить заказ', 'button--xs button--wide')
        .col.col--4.lego__boxCol
          img.lego__boxImg(src='./imgs/lego/legoBoxSize.jpg')

mixin lego--step3
  .lego.lego--step3
    .js-postcardsList
      - var p = 0;
      .lego__postcardsList
        while p < 8
          .lego__postcard.js-postcard(tabindex=0)
            .lego__postcardImageWrapper
              img.lego__postcardImage(src="./imgs/lego/legoPostcard.jpg", alt="открытка")
            .lego__postcardTitle Название открытки
          - p++
      button.lego__moreCards Загрузить еще

    .lego__createPostcard.js-createPostcard
      p.lego__createPostcardIntro Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      .row
        .col.col--4
          img.lego__createPostcardImage(src="./imgs/lego/legoPostcard.jpg", alt="открытка")
        .col.col--8
          form
            h2.lego__createPostcardTitle Текст для открытки
            textarea.lego__createPostcardTextarea(placeholder="Текст для открытки")
            +button('Добавить к карточке +', 'button--xs button--full h-mb--30')
            +button('Сменить карточку', 'button--xs button--white button--full  button--iconText button--icon-refresh button--iconText-after js-returnPostcardsList')

mixin lego--step4
  .lego--step4
    .row
        .col.col--5.lego__boxCol--center 
          .lego__boxTitle Компоненты коробки
            -
              var itemsList = [
                {
                  "count": '2',
                  "title": 'Наименование товара *коробка',
                  "price": '300 Kč',
                },
                {
                  "count": '1',
                  "title": 'Флакон для жидкостей *емкость',
                  "price": '320 Kč',
                },
                {
                  "count": '1',
                  "title": 'Блокнот для девушки *книги',
                  "price": '650 Kč',
                },
                {
                  "count": '1',
                  "title": 'Наименование товара *коробка',
                  "price": '970 Kč',
                }
              ]
          .lego__boxItemsList
            each item in itemsList
              .lego__boxItem
                .lego__boxItemCount!= item.count
                .lego__boxItemTitle!= item.title
                .lego__boxItemPrice!= item.price
                button.lego__boxItemDelete Удалить
                
          .lego__boxSize Размер коробки: #[strong Средняя]
          .lego__boxFooter
            .lego__boxTotal
              span.lego__boxAmount 2240
              span.lego__boxAmountCurrency Kč
            +button('Оформить заказ', 'button--xs button--wide')
        .col.col--4.lego__boxCol
          img.lego__boxImg(src='./imgs/lego/legoBoxSize.jpg')
        .col.col--1.lego__boxCol
          .lego__plusElement +
        .col.col--2.lego__boxCol
          img.lego__finalPostcard(src="./imgs/lego/legoPostcard.jpg", alt="конечная открытка")

mixin __slide(count, img)
  .lego__slide
    .lego__slideCount x#{count}
    img.lego__slideImg(src=img, alt="Товар")
