mixin legoNav(step)
  -
    var stepList = [
      'Выберите цвет',
      'Выберите предметы',
      'Выберите и подпишите открытку',
      'Выберите и подпишите открытку'
    ]
  .container.container--slim.h-mb--35.h-mt--75
    h1.h-fz--38.h-lh--34.h-fw--700 Онлайн конструктор подарков
    .h-fz--20.h-lh--44 Подбери свою изюминку
  nav.legoNav
    ul.legoNav__list
      each title, index in stepList
          li.legoNav__step(class=(step == index + 1) ? 'legoNav__step--active' : '')
            if step >= index + 1
              span.legoNav__stepText #{index + 1} Шаг
              a(href="").legoNav__stepTitle!= title + ':'