-
    var modifications = [
        {
            'text': 'Special box',
            'alt': 'Special box',
            'img': './imgs/icons/check.png'
        },
        {
            'text': 'Your name (logo)',
            'alt': 'Your name (logo)',
            'img': './imgs/icons/check.png'
        },
        {
            'text': 'Big box'
        },
        {
            'text': 'Sale',
            'alt': 'Sale',
            'img': './imgs/icons/check.png'
        },
        {
            'text': 'All option'
        },
    ]

.modification
    .modification__title Modifications
    for item, index in modifications
        .modification__item(class=` ${item.modifier ? 'modification__item_' + item.modifier : ''}` )
            label.modification__label(for=`modification-${index}`)
                .modification__item-text=  item.text
                input(type="checkbox", id=`modification-${index}`).modification__checkbox_default
                span.modification__checkbox