mixin orders(items)
  .orders
    table.orders__table
      tr.orders__head
        th.orders__col Номер заказа
        th.orders__col Статус заказа
        th.orders__col Дата заказа
      for item in items
        tr.orders__row
          td.orders__col.orders__col--number!=item.number
          td.orders__col!=item.status
          td.orders__col!=item.date
              