-
    var counts = [
        {
            'count': '1'
        },
        {
            'count': '2',
            'modifier': 'active'
        },
        {
            'count': '3'
        },
        {
            'count': '4'
        },
        {
            'count': '5'
        },
        {
            'count': '6'
        },
        {
            'count': '7'
        },
        {
            'count': '8'
        },
        {
            'count': '9'
        },
        {
            'count': '10'
        },
        {
            'count': '11'
        },
        {
            'count': '...'
        },
    ]

.pagination
    .pagination__prev
    .pagination__list
        for item in counts
            .pagination__item(class= `${item.modifier ? 'pagination__item_' + item.modifier : ''}`)
                .pagination__count= item.count

    .pagination__next