mixin __slide(text, img)
  .photoSlider__slide(style="background-image: url(" + img + ")")
    .photoSlider__slideContent!= text

.photoSlider
  .photoSlider__arrowWrapper.js-photoSliderNav
  .js-photoSlider
    +__slide(
      'Každý dárkový<br/>balíček má&nbsp;svůj vlastní příběh',
      './imgs/photoSlider/slide.jpg'
    )
    +__slide(
      'Každý dárkový<br/>balíček má&nbsp;svůj vlastní příběh',
      './imgs/photoSlider/slide.jpg'
    )
    +__slide(
      'Každý dárkový<br/>balíček má&nbsp;svůj vlastní příběh',
      './imgs/photoSlider/slide.jpg'
    )
  .photoSlider__link Kup teď 
  .photoSlider__arrowDown
  .photoSlider__hint Doleva
