include ./button

-
  var popular_list = [
    {
      "name": "Gift set “Queen”",
      "price": "1 500",
      "background": "./imgs/popular/popular.jpg"
    },
    {
      "name": "Gift set “Queen”",
      "price": "1 500",
      "background": "./imgs/popular/popular2.jpg"
    },
    {
      "name": "Gift set “Queen”",
      "price": "1 500",
      "background": "./imgs/popular/popular3.jpg"
    },
    {
      "name": "Gift set “Queen”",
      "price": "1 500",
      "background": "./imgs/popular/popular.jpg"
    },
    {
      "name": "Gift set “Queen”",
      "price": "1 500",
      "background": "./imgs/popular/popular4.jpg"
    }
  ]

.popular
  .container
    .popular__linksBlock
      a.popular__link.popular__link--active(href="") Nejoblíbenější hotové balíčky
      a.popular__link(href="") Novinky
  for item in popular_list
    .popular__item(style=`background-image: url(${item.background})`)
      .popular__itemTitle
        .popular__itemName= item.name
        .popular__itemPrice Price: #{item.price} CZK
      +button('Buy Now', 'button--dark button--xs')