include ./button

mixin __slide(title, subtitle, text, img)
  .presentSlider__slide
    .row
      .col.col--6.presentSlider__content
        if title
          .presentSlider__slideTitle= title
        if subtitle
          .presentSlider__slideSubtitle= subtitle
        if text
          .presentSlider__slideText!= text
        .presentSlider__slideLogo
        +button('Read more ', 'button--wide')
      .col.col--6
        img.presentSlider__img(src=img, alt=title)

.presentSlider
  .js-presentSlider
    +__slide(
      'You do not have time your own gift box? ',
      '',
      'No problem. Let us do the work. Choose one of the already prepared gift sets to fit your special occasion.',
      './imgs/presentSlider/presentSlide.jpg'
    )
    +__slide(
      'You do not have time your own gift box? ',
      '',
      'No problem. Let us do the work. Choose one of the already prepared gift sets to fit your special occasion.',
      './imgs/presentSlider/presentSlide.jpg'
    )
    +__slide(
      'You do not have time your own gift box? ',
      '',
      'No problem. Let us do the work. Choose one of the already prepared gift sets to fit your special occasion.',
      './imgs/presentSlider/presentSlide.jpg'
    )
  .row
    .col.col--6.h-pos--relative
      .presentSlider__nav

