.price
    div.price__title  Price
    div.price__item
            label(for="price").price__item_label
                input#price(type="text" name="price")
            label(for="price2")
                input#price2(type="text" name="price2")
    div.price__item.price__item_range 
        #slider_price
