mixin __slide(img)
  .productSlider__slide
    img.productSlider__img(src=img)

.productSlider
  .js-productSlider
    +__slide(
      './imgs/cards/card-image.png'
    )
    +__slide(
      './imgs/cards/card-image.png'
    )
    +__slide(
      './imgs/productSlider/product.jpg'
    )
  .productSlider__counter
    .productSlider__countItem
    .productSlider__countAll