include ./button
include ./inputCounter
include ./breadcrumbs

-
  var colorList = [
    {"color": "#fff"},
    {"color": "#feabd8"},
    {"color": "#2a8ce6", "active": true},
    {"color": "#ea3939"},
    {"color": "#fde910"},
    {"color": "#fad201"},
    {"color": "#c0c0c0"},
  ]

.product
  h1.product__title Aenean sollicitudin lorem quis bibendum auctortaciti
  .product__author by #[.h-color--gray.h-display--inline Pretty Present]
  .product__price 
    | 346
    .product__currency Kč
  .product__subBlock
    .product__article We tell about product
    .product__article.product__article--right Место для артикула
  .product__content This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
  .product__size
    | Size: #[span.product__sizeText 4 x 6 x 10]#[span.product__sizeHelp (ШхГхВ) см]
  h2.product__subTitle.h-mb--30 Choose #[.h-color--peach.h-display--inline color] :
  if colorList
    .product__colorList
      for item in colorList
        .product__color(tabindex=0, style=item.color ? `background-color: ${item.color}` : '', class=(item.active ? 'product__color--active' : ''))

  h2.product__subTitle.h-mb--30 Choose #[.h-color--peach.h-display--inline size] the box :
  .row.h-mb--40
    .col.h-align--center
      +button('Small', 'button--disabled button--xxs')
      +button('Medium', 'button--disabled button--xxs')
      +button('Big', 'button--wideMinor button--whiteColor button--xxs')
  h2.product__subTitle.h-mb--25 Choose #[span.h-color--peach.h-display--inline quantity] the box :
  .h-flex--justifyCenter
    +inputCounter(1, 'h-mr--15')
    .product__amount
      .product__amountLabel Costs for all:
      .product__amountPrice 692 Kč
  .product__orderBlock
    +button('Заказать', 'button--xs h-mr--10 h-fg--1')
    +button('favorite', 'button--xs button--icon button--icon-likeWhite')
  .product__delivery 
    | Возможность доставки: 
    span.product__deliveryPlace Доставка только по Чехии
  +breadcrumbs([
    {
      "title": "Catalogy",
      "link": "/"
    },
    {
      "title": "Box for family",
      "link": "/"
    },
    {
      "title": "Aenean sollicitudin lorem Box",
      "link": "/"
    },
  ])


  
