include ./button

mixin __slide(name, date, text, img, social)
  .reviewSlider__slide
    img.reviewSlider__slideImg(src=img, alt=name)
    .reviewSlider__slideContent
      .reviewSlider__slideName= name
      .reviewSlider__slideDate= date
      .h-clearfix
      .reviewSlider__slideText!= text
      .reviewSlider__slideSocialBlock
        for s in social
          a.reviewSlider__slideSocial(class=`reviewSlider__slideSocial--${s.name} ${s.active ? 'reviewSlider__slideSocial--active' : ''}`, href=s.link)
      +button('Buy now', 'button--wide')
      

.reviewSlider
  .text.text--h2 Do not listen to us, hear what our clients say. 
  .js-reviewSlider
    +__slide(
      'Jana Stárková',
      '21.02.2018',
      'I always had to travel to many different stores to find a combination of right gifts before. But thanks to your website now I actually enjoy the process of choosing all my gifts from one place.  Wishing you best of luck',
      './imgs/reviewSlider/reviewImg.jpg',
      [
        {"name": "vk", "link": "/"},
        {"name": "facebook", "link": "/"},
        {"name": "instagram", "link": "/", "active": true},
      ]
    )
    +__slide(
      'Petra Novotná',
      '21.02.2018',
      'It was tricky for me to find ideas for gifts and I would leave the purchase until last minute or just buy something boring. I really like that I can select already made gift boxes and add them to my list of Favorites so I can use those ideas for the future.',
      './imgs/reviewSlider/reviewImg.jpg',
      [
        {"name": "vk", "link": "/"},
        {"name": "facebook", "link": "/"},
        {"name": "instagram", "link": "/", "active": true},
      ]
    )
  .reviewSlider__nav