-
    var sections = [
        {
            'text': 'Для него',
            'count': '75'
        },
        {
            'text': 'Для Нее',
            'count': '75',
            'modifier': 'active'
        },
        {
            'text': 'Для ребенка мальчика',
            'count': '75'
        },
        {
            'text': 'для ребенка девочки',
            'count': '75'
        },
    ]

.section
    div.section__title Подарок для
    for item in sections
        a.section__item(class=` ${item.modifier ? 'section__item_' + item.modifier : ''}` href="#")
            span.section__item-text=  item.text
            span.section__item-count= item.count