-
    var sorts = [
        {
            'text': 'Подобрано 165 товаров из 241',
            'modifier': 'match'
        },
        {
            'text': 'От дорогих к дешевым ',
            'modifier': 'mode'
        },
        {
            'text': 'Популярные товары',
            'modifier': 'popular',
            'grid': 'appear'
        },
    ]

.sort
    for item in sorts
        button.sort__item(class= `${item.modifier ? 'sort__item_' + item.modifier : ''}`) 
            .sort__grid(class= `${item.grid ? 'sort__grid_' + item.grid : ''}`)
                a.sort__grid-list
                a.sort__grid-net
            p(class= `${item.modifier ? 'sort__item-text_' + item.modifier : ''}`).sort__item-text= item.text