include ./button

.subscribe 
  .row
    .col.col--3.colDesktop--2
    .col.col--6.colDesktop--8
      p.subscribe__text.h-font--italianno If saving some money and getting exclusive promotions sounds like a good idea to you, sign up! 
      form.subscribe__form
        input.subscribe__input(placeholder="Email", aria-label="Email", type="email")
        input.subscribe__input(placeholder="My birthday:", aria-label="Дата рождения")
        +button('Yes! I love surprises', 'subscribe__button', 'submit')
    .col.col--3.colDesktop--2
  