include ./button

.userMenu
  .userMenu__name Ярослав Трещётка
  .userMenu__inner
    ul.userMenu__menu
      li.userMenu__menuItem 
        a(href="/") Личная информация
      li.userMenu__menuItem 
        a(href="/") Пароль
      li.userMenu__menuItem 
        a(href="/") Мой аддрес доставки
      li.userMenu__menuItem 
        a(href="/") Мои заказы
      li.userMenu__menuItem 
        a(href="/") Список желаний
      li.userMenu__menuItem 
        a(href="/") Корзина
      li.userMenu__menuItem 
        a(href="/") Подписаться на новости
    +button('Продолжить покупки', 'button--full button--dark userMenu__button')
    a(href="").userMenu__exit Выход
    