include ../components/basketItem
include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container
        h1.h-color--peach.h-fz--18.h-mb--30.h-fw--700 Ваша корзина
        +basketItem({
          "title": 'Nafe of Present XIII As2',
          "reviews": "15 Отзывов",
          "rating": "85%",
          "price": "380.00",
          "old_price": "400.00",
          "sale": "-15%",
          "input_value": 2,
          "gallery": [
            {"image": "./imgs/basketItem/image.jpg", "preview": "./imgs/basketItem/preview.jpg", "alt": "product"},
            {"image": "./imgs/basketItem/card-image.png", "preview": "./imgs/basketItem/card-image.png"},
            {"image": "./imgs/basketItem/image.jpg", "preview": "./imgs/basketItem/preview.jpg"},
            {"image": "./imgs/basketItem/image.jpg", "preview": "./imgs/basketItem/preview.jpg"}
          ]
        })
      .container.h-align--center
        +button('Оформить заказ', 'h-mb--30 h-mt--30')
    include ../components/footer