include ../components/basketItem
include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--slim
        h1.h-color--peach.h-mb--30.h-fw--700.h-align--center Ваша корзина
        include ../components/basketList
        +basketList({
          'total': 3040,
          'items': [
            {
              "title": "Nafe of Present XIII As2",
              "image": "./imgs/basketItem/image.jpg",
              "code": "POL-DET35-99001",
              "priceByOne": "300",
              "input_value": 0,
              "color": "#ab2b2b",
              "price": 0
            },
            {
              "title": "Nafe of Present XIII As2",
              "image": "./imgs/basketItem/image.jpg",
              "code": "POL-DET35-99001",
              "priceByOne": 300,
              "color": "#feabd8",
              "input_value": 2,
              "price": 600
            },
            {
              "title": "Nafe of Present XIII As2",
              "image": "./imgs/basketItem/image.jpg",
              "code": "POL-DET35-99001",
              "priceByOne": 300,
              "color": "#000",
              "input_value": 2,
              "price": 600
            },
            {
              "title": "Nafe of Present XIII As2",
              "image": "./imgs/basketItem/image.jpg",
              "code": "POL-DET35-99001",
              "priceByOne": 300,
              "color": "#feabd8",
              "input_value": 2,
              "price": 600
            },
            {
              "title": "Nafe of Present XIII As2",
              "image": "./imgs/basketItem/image.jpg",
              "code": "POL-DET35-99001",
              "priceByOne": 300,
              "color": "#feabd8",
              "input_value": 2,
              "price": 600
            }
          ]
        })
    include ../components/footer