include ../components/formBlock

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.h-mb--70.h-pr--0
        .row
          .col.col--1
          .col.col--8
            h1.h-color--fuchsia.h-align--left Мой пароль
            +formBlock('cabinet__password')
            .container.container--full.h-mb--35
                +button('Отменить', 'button--dark button--iconText button--icon-back')
                +button('Сохранить', 'h-pull--right button--iconText button--iconText-after button--icon-next', 'submit')
          .col.col--3
            include ../components/userMenu

    include ../components/footer