include ../components/formBlock
include ../components/basketList

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.h-mb--70.h-pr--0
        .row
          .col.col--1
          .col.col--8
            h1.h-color--fuchsia.h-align--left Корзина
            +basketList({
              'wishlist': true,
              'items': [
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "status": true,
                  "statusName": "Есть на складе",
                  "priceByOne": 300
                },
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "status": false,
                  "statusName": "Нет на складе",
                  "priceByOne": 300
                },
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "status": true,
                  "statusName": "Есть на складе",
                  "priceByOne": 300
                }
              ]
            })
          .col.col--3
            include ../components/userMenu

    include ../components/footer