include ../components/formBlock
include ../components/basketList

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.h-mb--70.h-pr--0
        .row
          .col.col--1
          .col.col--8
            h1.h-color--fuchsia.h-align--left Корзина
            +basketList({
              'total': 3040,
              'items': [
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "code": "POL-DET35-99001",
                  "priceByOne": "300",
                  "input_value": 0,
                  "color": "#ab2b2b",
                  "price": 0
                },
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "code": "POL-DET35-99001",
                  "priceByOne": 300,
                  "color": "#feabd8",
                  "input_value": 2,
                  "price": 600
                },
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "code": "POL-DET35-99001",
                  "priceByOne": 300,
                  "color": "#000",
                  "input_value": 2,
                  "price": 600
                },
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "code": "POL-DET35-99001",
                  "priceByOne": 300,
                  "color": "#feabd8",
                  "input_value": 2,
                  "price": 600
                },
                {
                  "title": "Nafe of Present XIII As2",
                  "image": "./imgs/basketItem/image.jpg",
                  "code": "POL-DET35-99001",
                  "priceByOne": 300,
                  "color": "#feabd8",
                  "input_value": 2,
                  "price": 600
                }
              ]
            })
          .col.col--3
            include ../components/userMenu

    include ../components/footer