include ../components/formBlock
include ../components/orders

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.h-mb--70.h-pr--0
        .row
          .col.col--1
          .col.col--8
            h1.h-color--fuchsia.h-align--left Мои заказы
            +orders([
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.12.2018"
              },
              {
                "number": "124124124", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "12412414", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "421434234", 
                "status": "доставлено", 
                "date": "08.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "09.11.2018"
              },
              {
                "number": "50222401010", 
                "status": "доставлено", 
                "date": "08.12.2018"
              },
            ])
          .col.col--3
            include ../components/userMenu

    include ../components/footer