doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.container--noPadding
        include ../components/popular 
        include ../components/content
    include ../components/footer

    script