include ../components/formBlock
include ../components/createAcc
include ../components/breadcrumbs
include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.h-mb--45.container--full
        .row.h-mb--20.h-mt--10
          .col.col--2
          .col.col--10
            +breadcrumbs([
              {
                "title": "Cart",
                "link": "/"
              },
              {
                "title": "Shiping and payment method",
                "link": "/",
                "active": true
              },
              {
                "title": "Shiping Address",
                "link": "/"
              }
            ],
            "breadcrumbs--small"
            )
        h1.create__title Оформление заказа
        .create__row
            +formBlock('shiping')
            +formBlock('payment')
      .container.container--full.h-mb--55
        .row
          .col.col--2
          .col.col--8
            +button('Назад', 'button--dark button--xs button--iconText button--icon-back')
            +button('Продолжить', 'h-pull--right button--iconText button--iconText-after button--icon-next', 'submit')

    include ../components/footer
