include ../components/formBlock
include ../components/createAcc
include ../components/breadcrumbs
include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.h-mb--45.container--full
        .row.h-mb--20.h-mt--10
          .col.col--2
          .col.col--10
            +breadcrumbs([
              {
                "title": "Главная",
                "link": "/"
              },
              {
                "title": "Корзина покупок",
                "link": "/"
              },
              {
                "title": "Оформление заказа ",
                "link": "/",
                "active": true
              }
            ],
            "breadcrumbs--small"
            )
        h1.create__title Оформление заказа
        .create__row.h-pb--50
            +createAcc(true)
            +formBlock('login')

        .create__row.h-pb--50
            +formBlock('info', true)
            +formBlock('address')

        .create__row.h-pb--50
            +formBlock('address')

        .create__row.h-pb--50
            +formBlock('info', true)
            +formBlock('address', false, true)

        .create__row.h-pb--50
            +formBlock('shiping')

        .create__row.h-pb--50
            +formBlock('payment')

        .create__row.h-pb--50
            +formBlock('finish')

    include ../components/footer
