include ../components/formBlock
include ../components/createAcc
include ../components/breadcrumbs
include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--slim.h-mb--55
        h1.create__title Спасибо! 
        .text.text--content.h-mb--50
          p Ваш заказ #333444555 был отправлен на обработку!
          p Фактуры вы получите на Ваш емейл. Вы также можете скачать #[a(href="/") документ фактуры].
          p Вы также может посмотреть в секции личного кабинет #[a(href="/") История Заказов]. 

        .h-align--center
          +button('Вернуться в каталог', '')

    include ../components/footer
