doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.container--noPadding
        include ../components/contactInfo
    include ../components/footer