doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.container--noPadding
        .content__text
            include ../components/text
            
        
    include ../components/footer