include ../components/formBlock
include ../components/createAcc

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.h-mb--70.create__container
        h1.create__title Войдите или зарегистрируйтесь и можно посылать подарки прямо сейчас
        p.create__description Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        .create__row
            +createAcc(false)
            +formBlock('login')

    include ../components/footer

    script