include ../components/formBlock
include ../components/createAcc
include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.h-mb--70.create__container
        h1.create__title Войдите или зарегистрируйтесь и можно посылать подарки прямо сейчас
        .create__row
            +createAcc(true)
            +formBlock('login')
      .container.container--full.h-mb--55
        .row
          .col.col--2
          .col.col--10
            +button('Вернуться в корзину покупок', 'button--dark button--xs button--iconText button--icon-back')

    include ../components/footer

    script