doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.container--noPadding
        div.faq__header
            h2.faq__title FAQ
            p.faq__description Ответы на часто задаваемые вопросы 
        .container
            .faq__slider
                img(src="./imgs/faq/faq-slider.png", alt="")
        include ../components/faq 

      

    include ../components/footer

    script