include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.container--noPadding
        include ../components/photoSlider
      .container.container--full.container--noPadding
        include ../components/popular
      .container.h-mt--70
        .text.text--lines.h-align--center We take great care to create beautiful gifts, which are truly personal. To make our gift boxes styled and truly special, we are always searching for new products that can surprise you. 
      .container.h-mb--70
        include ../components/presentSlider
      .container.h-mb--100
        .text.text--h2 Corporate gifts 
        .row
          .col.col--6
            img(src="./imgs/corpPhoto.jpg", alt="Corporate gifts")
          .col.col--1
          .col.col--5.h-fz--50
            .h-font--italianno
              p We help you make the perfect gifts for clients you really care about. 
              p We are always happy to work together on corporate projects that are tailored to your specific needs.  
              p.h-color--fuchsia Please get in touch to discuss your requirements. 
            .h-align--center
              +button('Get order', 'button--wide h-mt--90 h-margin--auto ')
      .container.container--full.container--noPadding
        include ../components/companySlider
      .container.container--full.container--noPadding
        include ../components/reviewSlider
      .container.container--full.container--noPadding.h-mb--60
        include ../components/contactBlock
      .container.h-mb--100
        include ../components/instagram
      .container.h-mb--70
        include ../components/subscribe
    include ../components/footer