include ../components/legoNav
include ../components/lego

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container
        +legoNav(2)
        +lego--step2
        .container.h-mt--35(id="boxes")
          h2.h-fz--18.h-lh--32.h-align--center.h-mb--65 Выберите и добавьте предметы
          include ../components/cards
    include ../components/footer