include ../components/legoNav
include ../components/lego

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container
        +legoNav(3)
        +lego--step3
    include ../components/footer