include ../components/button

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.container--full.container--noPadding.h-mb--60.h-bt--1.h-borderColor--gray
        .row
          .col.col--6
            include ../components/productSlider
          .col.col--5
            include ../components/product
      .container.h-mb--40
        h2.text.text--h3 Похожие товары
        include ../components/itemsSlider
    include ../components/footer 