include ../components/formBlock

doctype html
html
  include ../components/head
  body
    .wrapper
      include ../components/header
      .container.h-mb--70
        h1 Личный кабинет
        p.h-mb--50.h-align--center Если Вы уже зарегистрированы, перейдите на страницу авторизации.
        +formBlock('registration')

    include ../components/footer

    script