doctype html
html
  head
    include ../components/head
  body 
    .wrapper
      include ../components/header
      .tobuy
          .tobuy__left
              .tobuy__wallpaper
                  img.tobuy__wallpaper-img(src='./imgs/toBuy/tobuy.png')
              button.tobuy__back
                  .tobuy__back-text Come back
                  .tobuy__back-arrow 
          .tobuy__divider
              img(src='./imgs/toBuy/divider.png')

          .tobuy__right
              .tobuy__breadcrumbs
                  a(href="#").tobuy__breadcrumbs_link Cart 
                  span.tobuy__breadcrumbs-divider /
                  a(href="#").tobuy__breadcrumbs_link  Customer information 
                  span.tobuy__breadcrumbs-divider /
                  a(href="#").tobuy__breadcrumbs_link  Shipping method 
                  span.tobuy__breadcrumbs-divider_last /
                  span.tobuy__breadcrumbs_last  Payment method
              .tobuy__title-container
                  .tobuy__title Contact information
                  .tobuy__subtitle-container
                      span.tobuy__subtitle Already have account?Already have account? 
                      a.tobuy__subtitle-link Log in 
              .tobuy__email
                  p.tobuy__email-placeholder
                  input.tobuy__email-input.tobuy__input(placeholder="(YaroslawDesign@gmail.com)")
              .tobuy__sign
                  label
                      input(type="checkbox").tobuy__checkbox_default
                      span.tobuy__checkbox
                  a(href="#").tobuy__sign-link Keep me up 
                  span.tobuy__sign-text to date on news and exclusive offers

              .tobuy__form-title Shipping address
              form.tobuy__form(action="")
                  .tobuy__form-inputs
                      .tobuy__first-name
                          p.tobuy__first-name-placeholder Frst name
                          input.tobuy__first-name-input(placeholder="(Yaroslav)")
                      .tobuy__last-name
                          p.tobuy__last-name-placeholder Last name
                          input.tobuy__last-name-input(placeholder="(Treshchotka)")
                  .tobuy__company
                      p.tobuy__company-placeholder Company
                      input.tobuy__company-input(placeholder="(Optional)")
                  .tobuy__form-inputs
                      .tobuy__address
                          p.tobuy__address-placeholder Address  
                          input.tobuy__address-input(placeholder="")
                      .tobuy__optional
                          p.tobuy__optional-placeholder Apt,suite,etc.
                          input.tobuy__optional-input(placeholder="(Optional)")
                  .tobuy__city
                      p.tobuy__city-placeholder City
                      input.tobuy__city-input
                  .tobuy__form-inputs    
                      .tobuy__country
                          p.tobuy__country-placeholder Ukraine
                          input.tobuy__country-input(placeholder="(Choose country) ")
                      .tobuy__postal
                          p.tobuy__postal-placeholder Postal code
                          input.tobuy__postal-input
                  .tobuy__phone
                      p.tobuy__phone-placeholder Phone number
                      input.tobuy__phone-input(placeholder="(Optional)")
              .tobuy__checkout
                  .tobuy__checkout-img_container
                      img.tobuy__checkout-img(src='./imgs/toBuy/tovar.jpg')
                      span.tobuy__checkout-multiplier x2
                  .tobuy__checkout-container
                      .tobuy__checkout-texts
                          p.tobuy__checkout-grats Thanks!
                          p.tobuy__checkout-total Total:
                      .tobuy__checkout-value
                          span.tobuy__checkout-count 6820
                              p.tobuy__checkout-delivery for free delivery
                          span.tobuy__checkout-currency Kč
                              p.tobuy__checkout-additional +590
          button.tobuy__send
              img.tobuy__send-img(src='./imgs/toBuy/divider-black.png')
              .tobuy__send-text Send
              .tobuy__send-next 
                  img.tobuy__send-next-img(src='./imgs/icons/send.png')

      include ../components/footer
